nifi/data-flows/file-ingestion-framework-with-schemas.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>ad8b9d1e-017f-1000-0e25-eeef337b4407</groupId>
    <name>file-ingestion-framework-with-schemas</name>
    <snippet>
        <processGroups>
            <id>8641910b-861b-3835-0000-000000000000</id>
            <parentGroupId>2d806db1-6de3-3479-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <processGroups>
                    <id>3ed6d695-8860-36a2-0000-000000000000</id>
                    <parentGroupId>8641910b-861b-3835-0000-000000000000</parentGroupId>
                    <position>
                        <x>-40.0</x>
                        <y>32.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>4d1d3fa8-8478-3eb5-0000-000000000000</id>
                            <parentGroupId>3ed6d695-8860-36a2-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3ed6d695-8860-36a2-0000-000000000000</groupId>
<id>9a99ac86-8754-369e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>3ed6d695-8860-36a2-0000-000000000000</groupId>
<id>54b55a12-25f8-332e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>59213721-8687-397c-0000-000000000000</id>
                            <parentGroupId>3ed6d695-8860-36a2-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3ed6d695-8860-36a2-0000-000000000000</groupId>
<id>b2f32336-5cb8-36d9-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <selectedRelationships>not.found</selectedRelationships>
                            <selectedRelationships>permission.denied</selectedRelationships>
                            <source>
<groupId>3ed6d695-8860-36a2-0000-000000000000</groupId>
<id>54b55a12-25f8-332e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>98ce5190-b063-33b5-0000-000000000000</id>
                            <parentGroupId>3ed6d695-8860-36a2-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3ed6d695-8860-36a2-0000-000000000000</groupId>
<id>ca37294b-6562-3975-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>3ed6d695-8860-36a2-0000-000000000000</groupId>
<id>9a99ac86-8754-369e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>abbbb68c-be52-31b8-0000-000000000000</id>
                            <parentGroupId>3ed6d695-8860-36a2-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3ed6d695-8860-36a2-0000-000000000000</groupId>
<id>54b55a12-25f8-332e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>3ed6d695-8860-36a2-0000-000000000000</groupId>
<id>750da770-8b95-3d06-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c445aa74-a855-3bb8-0000-000000000000</id>
                            <parentGroupId>3ed6d695-8860-36a2-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3ed6d695-8860-36a2-0000-000000000000</groupId>
<id>81374d27-dd18-3117-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>3ed6d695-8860-36a2-0000-000000000000</groupId>
<id>9a99ac86-8754-369e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>81374d27-dd18-3117-0000-000000000000</id>
                            <parentGroupId>3ed6d695-8860-36a2-0000-000000000000</parentGroupId>
                            <position>
<x>-120.0</x>
<y>816.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>b2f32336-5cb8-36d9-0000-000000000000</id>
                            <parentGroupId>3ed6d695-8860-36a2-0000-000000000000</parentGroupId>
                            <position>
<x>-120.0</x>
<y>560.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>ca37294b-6562-3975-0000-000000000000</id>
                            <parentGroupId>3ed6d695-8860-36a2-0000-000000000000</parentGroupId>
                            <position>
<x>456.0</x>
<y>1016.0</y>
                            </position>
                        </funnels>
                        <processors>
                            <id>54b55a12-25f8-332e-0000-000000000000</id>
                            <parentGroupId>3ed6d695-8860-36a2-0000-000000000000</parentGroupId>
                            <position>
<x>304.0</x>
<y>504.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File to Fetch</key>
        <value>
            <name>File to Fetch</name>
        </value>
    </entry>
    <entry>
        <key>Completion Strategy</key>
        <value>
            <name>Completion Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Move Destination Directory</key>
        <value>
            <name>Move Destination Directory</name>
        </value>
    </entry>
    <entry>
        <key>Move Conflict Strategy</key>
        <value>
            <name>Move Conflict Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Log level when file not found</key>
        <value>
            <name>Log level when file not found</name>
        </value>
    </entry>
    <entry>
        <key>Log level when permission denied</key>
        <value>
            <name>Log level when permission denied</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File to Fetch</key>
        <value>${absolute.path}/${filename}</value>
    </entry>
    <entry>
        <key>Completion Strategy</key>
        <value>None</value>
    </entry>
    <entry>
        <key>Move Destination Directory</key>
    </entry>
    <entry>
        <key>Move Conflict Strategy</key>
        <value>Rename</value>
    </entry>
    <entry>
        <key>Log level when file not found</key>
        <value>ERROR</value>
    </entry>
    <entry>
        <key>Log level when permission denied</key>
        <value>ERROR</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>FetchFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>not.found</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>permission.denied</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.FetchFile</type>
                        </processors>
                        <processors>
                            <id>750da770-8b95-3d06-0000-000000000000</id>
                            <parentGroupId>3ed6d695-8860-36a2-0000-000000000000</parentGroupId>
                            <position>
<x>301.5</x>
<y>297.5</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Input Directory</key>
        <value>
            <name>Input Directory</name>
        </value>
    </entry>
    <entry>
        <key>listing-strategy</key>
        <value>
            <name>listing-strategy</name>
        </value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>
            <name>Recurse Subdirectories</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>Input Directory Location</key>
        <value>
            <name>Input Directory Location</name>
        </value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>
            <name>File Filter</name>
        </value>
    </entry>
    <entry>
        <key>Path Filter</key>
        <value>
            <name>Path Filter</name>
        </value>
    </entry>
    <entry>
        <key>Include File Attributes</key>
        <value>
            <name>Include File Attributes</name>
        </value>
    </entry>
    <entry>
        <key>Minimum File Age</key>
        <value>
            <name>Minimum File Age</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Age</key>
        <value>
            <name>Maximum File Age</name>
        </value>
    </entry>
    <entry>
        <key>Minimum File Size</key>
        <value>
            <name>Minimum File Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Size</key>
        <value>
            <name>Maximum File Size</name>
        </value>
    </entry>
    <entry>
        <key>Ignore Hidden Files</key>
        <value>
            <name>Ignore Hidden Files</name>
        </value>
    </entry>
    <entry>
        <key>target-system-timestamp-precision</key>
        <value>
            <name>target-system-timestamp-precision</name>
        </value>
    </entry>
    <entry>
        <key>et-state-cache</key>
        <value>
            <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
            <name>et-state-cache</name>
        </value>
    </entry>
    <entry>
        <key>et-time-window</key>
        <value>
            <name>et-time-window</name>
        </value>
    </entry>
    <entry>
        <key>et-initial-listing-target</key>
        <value>
            <name>et-initial-listing-target</name>
        </value>
    </entry>
    <entry>
        <key>et-node-identifier</key>
        <value>
            <name>et-node-identifier</name>
        </value>
    </entry>
    <entry>
        <key>track-performance</key>
        <value>
            <name>track-performance</name>
        </value>
    </entry>
    <entry>
        <key>max-performance-metrics</key>
        <value>
            <name>max-performance-metrics</name>
        </value>
    </entry>
    <entry>
        <key>max-operation-time</key>
        <value>
            <name>max-operation-time</name>
        </value>
    </entry>
    <entry>
        <key>max-listing-time</key>
        <value>
            <name>max-listing-time</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Input Directory</key>
        <value>/opt/nifi/nifi-current/source-files</value>
    </entry>
    <entry>
        <key>listing-strategy</key>
        <value>none</value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>true</value>
    </entry>
    <entry>
        <key>record-writer</key>
    </entry>
    <entry>
        <key>Input Directory Location</key>
        <value>Local</value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>[^\.].*</value>
    </entry>
    <entry>
        <key>Path Filter</key>
    </entry>
    <entry>
        <key>Include File Attributes</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Minimum File Age</key>
        <value>0 sec</value>
    </entry>
    <entry>
        <key>Maximum File Age</key>
    </entry>
    <entry>
        <key>Minimum File Size</key>
        <value>0 B</value>
    </entry>
    <entry>
        <key>Maximum File Size</key>
    </entry>
    <entry>
        <key>Ignore Hidden Files</key>
        <value>true</value>
    </entry>
    <entry>
        <key>target-system-timestamp-precision</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>et-state-cache</key>
    </entry>
    <entry>
        <key>et-time-window</key>
        <value>3 hours</value>
    </entry>
    <entry>
        <key>et-initial-listing-target</key>
        <value>all</value>
    </entry>
    <entry>
        <key>et-node-identifier</key>
        <value>${hostname()}</value>
    </entry>
    <entry>
        <key>track-performance</key>
        <value>false</value>
    </entry>
    <entry>
        <key>max-performance-metrics</key>
        <value>100000</value>
    </entry>
    <entry>
        <key>max-operation-time</key>
        <value>10 secs</value>
    </entry>
    <entry>
        <key>max-listing-time</key>
        <value>3 mins</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ListFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ListFile</type>
                        </processors>
                        <processors>
                            <id>9a99ac86-8754-369e-0000-000000000000</id>
                            <parentGroupId>3ed6d695-8860-36a2-0000-000000000000</parentGroupId>
                            <position>
<x>304.0</x>
<y>768.0</y>
                            </position>
                            <bundle>
<artifact>nifi-hadoop-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>
            <name>Hadoop Configuration Resources</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
            <name>kerberos-user-service</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
        <value>
            <name>Kerberos Principal</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
        <value>
            <name>Kerberos Keytab</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Password</key>
        <value>
            <name>Kerberos Password</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>
            <name>Kerberos Relogin Period</name>
        </value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
        <value>
            <name>Additional Classpath Resources</name>
        </value>
    </entry>
    <entry>
        <key>Directory</key>
        <value>
            <name>Directory</name>
        </value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>
            <name>Conflict Resolution Strategy</name>
        </value>
    </entry>
    <entry>
        <key>writing-strategy</key>
        <value>
            <name>writing-strategy</name>
        </value>
    </entry>
    <entry>
        <key>Block Size</key>
        <value>
            <name>Block Size</name>
        </value>
    </entry>
    <entry>
        <key>IO Buffer Size</key>
        <value>
            <name>IO Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Replication</key>
        <value>
            <name>Replication</name>
        </value>
    </entry>
    <entry>
        <key>Permissions umask</key>
        <value>
            <name>Permissions umask</name>
        </value>
    </entry>
    <entry>
        <key>Remote Owner</key>
        <value>
            <name>Remote Owner</name>
        </value>
    </entry>
    <entry>
        <key>Remote Group</key>
        <value>
            <name>Remote Group</name>
        </value>
    </entry>
    <entry>
        <key>Compression codec</key>
        <value>
            <name>Compression codec</name>
        </value>
    </entry>
    <entry>
        <key>Ignore Locality</key>
        <value>
            <name>Ignore Locality</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>/opt/hdfs-xmls/core-site.xml,/opt/hdfs-xmls/hdfs-site.xml</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
    </entry>
    <entry>
        <key>Kerberos Password</key>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>4 hours</value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
    </entry>
    <entry>
        <key>Directory</key>
        <value>/landing-zone</value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>fail</value>
    </entry>
    <entry>
        <key>writing-strategy</key>
        <value>writeAndRename</value>
    </entry>
    <entry>
        <key>Block Size</key>
    </entry>
    <entry>
        <key>IO Buffer Size</key>
    </entry>
    <entry>
        <key>Replication</key>
    </entry>
    <entry>
        <key>Permissions umask</key>
    </entry>
    <entry>
        <key>Remote Owner</key>
    </entry>
    <entry>
        <key>Remote Group</key>
    </entry>
    <entry>
        <key>Compression codec</key>
        <value>NONE</value>
    </entry>
    <entry>
        <key>Ignore Locality</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutHDFS</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Source Files</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>485ece9a-0c89-3eea-0000-000000000000</id>
                    <parentGroupId>8641910b-861b-3835-0000-000000000000</parentGroupId>
                    <position>
                        <x>528.0</x>
                        <y>280.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>8bc6d1f8-8c50-3e11-0000-000000000000</id>
                            <parentGroupId>485ece9a-0c89-3eea-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>485ece9a-0c89-3eea-0000-000000000000</groupId>
<id>3e3199f4-da24-38ec-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>485ece9a-0c89-3eea-0000-000000000000</groupId>
<id>23a16f74-d5ed-3e10-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a83fd905-a205-3344-0000-000000000000</id>
                            <parentGroupId>485ece9a-0c89-3eea-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>485ece9a-0c89-3eea-0000-000000000000</groupId>
<id>bf3da9ca-eb5f-37cc-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>comms.failure</selectedRelationships>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>485ece9a-0c89-3eea-0000-000000000000</groupId>
<id>23a16f74-d5ed-3e10-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>df97e0cd-81b0-3bf9-0000-000000000000</id>
                            <parentGroupId>485ece9a-0c89-3eea-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>485ece9a-0c89-3eea-0000-000000000000</groupId>
<id>23a16f74-d5ed-3e10-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>485ece9a-0c89-3eea-0000-000000000000</groupId>
<id>38a7eebd-1592-3028-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>3e3199f4-da24-38ec-0000-000000000000</id>
                            <parentGroupId>485ece9a-0c89-3eea-0000-000000000000</parentGroupId>
                            <position>
<x>568.0</x>
<y>640.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>bf3da9ca-eb5f-37cc-0000-000000000000</id>
                            <parentGroupId>485ece9a-0c89-3eea-0000-000000000000</parentGroupId>
                            <position>
<x>16.989681912896913</x>
<y>419.4933268244047</y>
                            </position>
                        </funnels>
                        <processors>
                            <id>23a16f74-d5ed-3e10-0000-000000000000</id>
                            <parentGroupId>485ece9a-0c89-3eea-0000-000000000000</parentGroupId>
                            <position>
<x>416.9896819128969</x>
<y>379.4933268244047</y>
                            </position>
                            <bundle>
<artifact>nifi-hadoop-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>
            <name>Hadoop Configuration Resources</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
            <name>kerberos-user-service</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
        <value>
            <name>Kerberos Principal</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
        <value>
            <name>Kerberos Keytab</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Password</key>
        <value>
            <name>Kerberos Password</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>
            <name>Kerberos Relogin Period</name>
        </value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
        <value>
            <name>Additional Classpath Resources</name>
        </value>
    </entry>
    <entry>
        <key>HDFS Filename</key>
        <value>
            <name>HDFS Filename</name>
        </value>
    </entry>
    <entry>
        <key>Compression codec</key>
        <value>
            <name>Compression codec</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>/opt/hdfs-xmls/core-site.xml,/opt/hdfs-xmls/hdfs-site.xml</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
    </entry>
    <entry>
        <key>Kerberos Password</key>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>4 hours</value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
    </entry>
    <entry>
        <key>HDFS Filename</key>
        <value>${path}/${filename}</value>
    </entry>
    <entry>
        <key>Compression codec</key>
        <value>NONE</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>FetchHDFS</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>comms.failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.hadoop.FetchHDFS</type>
                        </processors>
                        <processors>
                            <id>38a7eebd-1592-3028-0000-000000000000</id>
                            <parentGroupId>485ece9a-0c89-3eea-0000-000000000000</parentGroupId>
                            <position>
<x>416.9896819128969</x>
<y>155.49332682440465</y>
                            </position>
                            <bundle>
<artifact>nifi-hadoop-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>
            <name>Hadoop Configuration Resources</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
            <name>kerberos-user-service</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
        <value>
            <name>Kerberos Principal</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
        <value>
            <name>Kerberos Keytab</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Password</key>
        <value>
            <name>Kerberos Password</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>
            <name>Kerberos Relogin Period</name>
        </value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
        <value>
            <name>Additional Classpath Resources</name>
        </value>
    </entry>
    <entry>
        <key>Distributed Cache Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
            <name>Distributed Cache Service</name>
        </value>
    </entry>
    <entry>
        <key>Directory</key>
        <value>
            <name>Directory</name>
        </value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>
            <name>Recurse Subdirectories</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>
            <name>File Filter</name>
        </value>
    </entry>
    <entry>
        <key>file-filter-mode</key>
        <value>
            <name>file-filter-mode</name>
        </value>
    </entry>
    <entry>
        <key>minimum-file-age</key>
        <value>
            <name>minimum-file-age</name>
        </value>
    </entry>
    <entry>
        <key>maximum-file-age</key>
        <value>
            <name>maximum-file-age</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>/opt/hdfs-xmls/core-site.xml,/opt/hdfs-xmls/hdfs-site.xml</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
    </entry>
    <entry>
        <key>Kerberos Password</key>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>4 hours</value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
    </entry>
    <entry>
        <key>Distributed Cache Service</key>
    </entry>
    <entry>
        <key>Directory</key>
        <value>/raw-zone</value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>true</value>
    </entry>
    <entry>
        <key>record-writer</key>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>[^\.].*</value>
    </entry>
    <entry>
        <key>file-filter-mode</key>
        <value>filter-mode-directories-and-files</value>
    </entry>
    <entry>
        <key>minimum-file-age</key>
    </entry>
    <entry>
        <key>maximum-file-age</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>true</executionNodeRestricted>
                            <name>ListHDFS</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.hadoop.ListHDFS</type>
                        </processors>
                        <processors>
                            <id>7e85fc51-f42d-34f2-0000-000000000000</id>
                            <parentGroupId>485ece9a-0c89-3eea-0000-000000000000</parentGroupId>
                            <position>
<x>856.0</x>
<y>152.0</y>
                            </position>
                            <bundle>
<artifact>nifi-hive-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Hive Database Connection Pooling Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.hive.HiveDBCPService</identifiesControllerService>
            <name>Hive Database Connection Pooling Service</name>
        </value>
    </entry>
    <entry>
        <key>hive-batch-size</key>
        <value>
            <name>hive-batch-size</name>
        </value>
    </entry>
    <entry>
        <key>hive-charset</key>
        <value>
            <name>hive-charset</name>
        </value>
    </entry>
    <entry>
        <key>statement-delimiter</key>
        <value>
            <name>statement-delimiter</name>
        </value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>
            <name>rollback-on-failure</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Hive Database Connection Pooling Service</key>
    </entry>
    <entry>
        <key>hive-batch-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>hive-charset</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>statement-delimiter</key>
        <value>;</value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutHiveQL</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.hive.PutHiveQL</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Raw Zone Ingestion</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>71dc0d1d-3c1e-3847-0000-000000000000</id>
                    <parentGroupId>8641910b-861b-3835-0000-000000000000</parentGroupId>
                    <position>
                        <x>536.0</x>
                        <y>536.0</y>
                    </position>
                    <comments></comments>
                    <contents/>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Curated Zone Ingestion</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>bfca4a6d-2847-3d49-0000-000000000000</id>
                    <parentGroupId>8641910b-861b-3835-0000-000000000000</parentGroupId>
                    <position>
                        <x>528.0</x>
                        <y>32.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>3039c5dd-7c8b-3bd9-0000-000000000000</id>
                            <parentGroupId>bfca4a6d-2847-3d49-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>bfca4a6d-2847-3d49-0000-000000000000</groupId>
<id>dace4d3e-7251-3128-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>bfca4a6d-2847-3d49-0000-000000000000</groupId>
<id>d0a65101-ca34-3faa-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>72cc32b7-62c2-36c9-0000-000000000000</id>
                            <parentGroupId>bfca4a6d-2847-3d49-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>bfca4a6d-2847-3d49-0000-000000000000</groupId>
<id>0daba534-1818-36e5-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>comms.failure</selectedRelationships>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>bfca4a6d-2847-3d49-0000-000000000000</groupId>
<id>dace4d3e-7251-3128-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>7b1f10fb-9dfb-3663-0000-000000000000</id>
                            <parentGroupId>bfca4a6d-2847-3d49-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>a234a6e3-f81f-3403-0000-000000000000</groupId>
<id>d62dfb8e-874a-30c7-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>bfca4a6d-2847-3d49-0000-000000000000</groupId>
<id>dace4d3e-7251-3128-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>7f306508-195f-3d3c-0000-000000000000</id>
                            <parentGroupId>bfca4a6d-2847-3d49-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>bfca4a6d-2847-3d49-0000-000000000000</groupId>
<id>fb41a296-ac15-3f08-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>bfca4a6d-2847-3d49-0000-000000000000</groupId>
<id>285288b0-7108-322e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>8616fddf-3885-3508-0000-000000000000</id>
                            <parentGroupId>bfca4a6d-2847-3d49-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>bfca4a6d-2847-3d49-0000-000000000000</groupId>
<id>285288b0-7108-322e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name>Original File</name>
                            <source>
<groupId>bfca4a6d-2847-3d49-0000-000000000000</groupId>
<id>0bc2c60a-ae72-3589-0000-000000000000</id>
<type>FUNNEL</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>87e49287-c4ed-3d74-0000-000000000000</id>
                            <parentGroupId>bfca4a6d-2847-3d49-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>bfca4a6d-2847-3d49-0000-000000000000</groupId>
<id>3acab3a2-5e6f-3390-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>bfca4a6d-2847-3d49-0000-000000000000</groupId>
<id>285288b0-7108-322e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a83e04fb-5412-32d3-0000-000000000000</id>
                            <parentGroupId>bfca4a6d-2847-3d49-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>bfca4a6d-2847-3d49-0000-000000000000</groupId>
<id>0bc2c60a-ae72-3589-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>a234a6e3-f81f-3403-0000-000000000000</groupId>
<id>00eeaf68-45dc-3582-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c730c632-e1da-3995-0000-000000000000</id>
                            <parentGroupId>bfca4a6d-2847-3d49-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
<id>1faba441-c7a2-3cc2-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>bfca4a6d-2847-3d49-0000-000000000000</groupId>
<id>0bc2c60a-ae72-3589-0000-000000000000</id>
<type>FUNNEL</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>0bc2c60a-ae72-3589-0000-000000000000</id>
                            <parentGroupId>bfca4a6d-2847-3d49-0000-000000000000</parentGroupId>
                            <position>
<x>-248.0</x>
<y>768.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>0daba534-1818-36e5-0000-000000000000</id>
                            <parentGroupId>bfca4a6d-2847-3d49-0000-000000000000</parentGroupId>
                            <position>
<x>-800.0</x>
<y>240.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>3acab3a2-5e6f-3390-0000-000000000000</id>
                            <parentGroupId>bfca4a6d-2847-3d49-0000-000000000000</parentGroupId>
                            <position>
<x>-1080.0</x>
<y>952.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>fb41a296-ac15-3f08-0000-000000000000</id>
                            <parentGroupId>bfca4a6d-2847-3d49-0000-000000000000</parentGroupId>
                            <position>
<x>-568.0</x>
<y>1168.0</y>
                            </position>
                        </funnels>
                        <labels>
                            <id>6007ed8e-a98f-35cc-0000-000000000000</id>
                            <parentGroupId>bfca4a6d-2847-3d49-0000-000000000000</parentGroupId>
                            <position>
<x>-304.0</x>
<y>-64.0</y>
                            </position>
                            <height>24.0</height>
                            <label>Must be execute every 30s</label>
                            <style>
<entry>
    <key>background-color</key>
    <value>#d6d6ff</value>
</entry>
<entry>
    <key>font-size</key>
    <value>12px</value>
</entry>
                            </style>
                            <width>152.0</width>
                        </labels>
                        <processGroups>
                            <id>970e408c-f1aa-3417-0000-000000000000</id>
                            <parentGroupId>bfca4a6d-2847-3d49-0000-000000000000</parentGroupId>
                            <position>
<x>8.0</x>
<y>904.0</y>
                            </position>
                            <comments></comments>
                            <contents>
<connections>
    <id>04890d1b-6bb0-37fb-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>7f24d184-9a00-330f-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <source>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>1faba441-c7a2-3cc2-0000-000000000000</id>
        <type>INPUT_PORT</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>1a8edf3f-0c8d-3942-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>6478ccf8-f043-3d91-0000-000000000000</id>
        <type>FUNNEL</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>failure</selectedRelationships>
    <source>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>188be20f-7fd9-3fc1-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>1b84305b-c23b-3625-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>6bfa24bb-5206-396f-0000-000000000000</id>
        <type>FUNNEL</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>csv_file</selectedRelationships>
    <source>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>7f24d184-9a00-330f-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>22a4cf7d-39ec-37e3-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>009ae58f-c54b-35f3-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <source>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>bf251420-a5be-39f0-0000-000000000000</id>
        <type>FUNNEL</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>25d963d2-f4e9-3525-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>15d399db-e3b1-3e66-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>9e214555-5b5b-38ae-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>2729afec-4f54-36ba-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>188be20f-7fd9-3fc1-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <source>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>6bfa24bb-5206-396f-0000-000000000000</id>
        <type>FUNNEL</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>3ac577ba-5659-3d66-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>55c8dbf7-90e7-3631-0000-000000000000</id>
        <type>FUNNEL</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>failure</selectedRelationships>
    <selectedRelationships>invalid</selectedRelationships>
    <source>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>ff2247c0-6e33-37a7-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>3bb41592-6ee1-36db-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>bf251420-a5be-39f0-0000-000000000000</id>
        <type>FUNNEL</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>5019a93b-cdf7-3519-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>55cc3196-e64a-3d7f-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>cfd630f7-53af-3904-0000-000000000000</id>
        <type>FUNNEL</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>json_file</selectedRelationships>
    <source>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>7f24d184-9a00-330f-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>5e904009-b1e2-353e-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>a2a84a62-1bd8-3d23-0000-000000000000</id>
        <type>FUNNEL</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>failure</selectedRelationships>
    <selectedRelationships>invalid</selectedRelationships>
    <source>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>cf91025b-02d8-386b-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>7041b8d4-6e1b-322e-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>5019a93b-cdf7-3519-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>188be20f-7fd9-3fc1-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>8b61063e-9b88-3ed3-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>cf91025b-02d8-386b-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>043ffe5f-bbec-32d1-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>90826c75-b926-3b7c-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>ff2247c0-6e33-37a7-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>1284b544-a5cf-35ac-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>a3ca7be1-a935-331b-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>c77090f0-dbca-3765-0000-000000000000</id>
        <type>FUNNEL</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>failure</selectedRelationships>
    <source>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>9e214555-5b5b-38ae-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>ae823601-8240-345f-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>5bf89438-bed6-3050-0000-000000000000</id>
        <type>FUNNEL</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>valid</selectedRelationships>
    <source>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>cf91025b-02d8-386b-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>b4cd0e28-0adc-365c-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>1410d55c-9187-3e5b-0000-000000000000</id>
        <type>FUNNEL</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>failure</selectedRelationships>
    <selectedRelationships>retry</selectedRelationships>
    <source>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>009ae58f-c54b-35f3-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>b6b8a2af-06af-3254-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>bf251420-a5be-39f0-0000-000000000000</id>
        <type>FUNNEL</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>15d399db-e3b1-3e66-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>c61a101b-6049-348f-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>d957bdaa-aeac-3537-0000-000000000000</id>
        <type>FUNNEL</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>009ae58f-c54b-35f3-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>d0fdffc6-4a82-345d-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>9e214555-5b5b-38ae-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <source>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>cfd630f7-53af-3904-0000-000000000000</id>
        <type>FUNNEL</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>d8057688-c39a-335b-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>043ffe5f-bbec-32d1-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <source>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>6bfa24bb-5206-396f-0000-000000000000</id>
        <type>FUNNEL</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>fde05865-8d59-36cd-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>1284b544-a5cf-35ac-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <source>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>cfd630f7-53af-3904-0000-000000000000</id>
        <type>FUNNEL</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>fec0f6a0-2637-3823-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>8ae81bea-30c9-3240-0000-000000000000</id>
        <type>FUNNEL</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>valid</selectedRelationships>
    <source>
        <groupId>970e408c-f1aa-3417-0000-000000000000</groupId>
        <id>ff2247c0-6e33-37a7-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<controllerServices>
    <id>050bda49-baa5-3efc-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <comments></comments>
    <descriptors>
        <entry>
            <key>schema-access-strategy</key>
            <value>
                <name>schema-access-strategy</name>
            </value>
        </entry>
        <entry>
            <key>schema-registry</key>
            <value>
                <dependencies>
                    <dependentValues>confluent-encoded</dependentValues>
                    <dependentValues>schema-name</dependentValues>
                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                <name>schema-registry</name>
            </value>
        </entry>
        <entry>
            <key>schema-name</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-name</name>
            </value>
        </entry>
        <entry>
            <key>schema-version</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-version</name>
            </value>
        </entry>
        <entry>
            <key>schema-branch</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-branch</name>
            </value>
        </entry>
        <entry>
            <key>schema-text</key>
            <value>
                <dependencies>
                    <dependentValues>schema-text-property</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-text</name>
            </value>
        </entry>
        <entry>
            <key>schema-inference-cache</key>
            <value>
                <dependencies>
                    <dependentValues>infer-schema</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                <name>schema-inference-cache</name>
            </value>
        </entry>
        <entry>
            <key>Date Format</key>
            <value>
                <name>Date Format</name>
            </value>
        </entry>
        <entry>
            <key>Time Format</key>
            <value>
                <name>Time Format</name>
            </value>
        </entry>
        <entry>
            <key>Timestamp Format</key>
            <value>
                <name>Timestamp Format</name>
            </value>
        </entry>
    </descriptors>
    <name>Generic JsonTreeReader</name>
    <persistsState>false</persistsState>
    <properties>
        <entry>
            <key>schema-access-strategy</key>
            <value>schema-text-property</value>
        </entry>
        <entry>
            <key>schema-registry</key>
        </entry>
        <entry>
            <key>schema-name</key>
            <value>${schema.name}</value>
        </entry>
        <entry>
            <key>schema-version</key>
        </entry>
        <entry>
            <key>schema-branch</key>
        </entry>
        <entry>
            <key>schema-text</key>
            <value>${users.schema}</value>
        </entry>
        <entry>
            <key>schema-inference-cache</key>
        </entry>
        <entry>
            <key>Date Format</key>
        </entry>
        <entry>
            <key>Time Format</key>
        </entry>
        <entry>
            <key>Timestamp Format</key>
        </entry>
    </properties>
    <state>ENABLED</state>
    <type>org.apache.nifi.json.JsonTreeReader</type>
</controllerServices>
<controllerServices>
    <id>27850781-5906-3178-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <comments></comments>
    <descriptors>
        <entry>
            <key>schema-access-strategy</key>
            <value>
                <name>schema-access-strategy</name>
            </value>
        </entry>
        <entry>
            <key>schema-registry</key>
            <value>
                <dependencies>
                    <dependentValues>confluent-encoded</dependentValues>
                    <dependentValues>schema-name</dependentValues>
                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                <name>schema-registry</name>
            </value>
        </entry>
        <entry>
            <key>schema-name</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-name</name>
            </value>
        </entry>
        <entry>
            <key>schema-version</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-version</name>
            </value>
        </entry>
        <entry>
            <key>schema-branch</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-branch</name>
            </value>
        </entry>
        <entry>
            <key>schema-text</key>
            <value>
                <dependencies>
                    <dependentValues>schema-text-property</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-text</name>
            </value>
        </entry>
        <entry>
            <key>csv-reader-csv-parser</key>
            <value>
                <name>csv-reader-csv-parser</name>
            </value>
        </entry>
        <entry>
            <key>Date Format</key>
            <value>
                <name>Date Format</name>
            </value>
        </entry>
        <entry>
            <key>Time Format</key>
            <value>
                <name>Time Format</name>
            </value>
        </entry>
        <entry>
            <key>Timestamp Format</key>
            <value>
                <name>Timestamp Format</name>
            </value>
        </entry>
        <entry>
            <key>CSV Format</key>
            <value>
                <name>CSV Format</name>
            </value>
        </entry>
        <entry>
            <key>Value Separator</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Value Separator</name>
            </value>
        </entry>
        <entry>
            <key>Record Separator</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Record Separator</name>
            </value>
        </entry>
        <entry>
            <key>Skip Header Line</key>
            <value>
                <name>Skip Header Line</name>
            </value>
        </entry>
        <entry>
            <key>ignore-csv-header</key>
            <value>
                <name>ignore-csv-header</name>
            </value>
        </entry>
        <entry>
            <key>Quote Character</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Quote Character</name>
            </value>
        </entry>
        <entry>
            <key>Escape Character</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Escape Character</name>
            </value>
        </entry>
        <entry>
            <key>Comment Marker</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Comment Marker</name>
            </value>
        </entry>
        <entry>
            <key>Null String</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Null String</name>
            </value>
        </entry>
        <entry>
            <key>Trim Fields</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Trim Fields</name>
            </value>
        </entry>
        <entry>
            <key>csvutils-character-set</key>
            <value>
                <name>csvutils-character-set</name>
            </value>
        </entry>
        <entry>
            <key>csvutils-allow-duplicate-header-names</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>csvutils-allow-duplicate-header-names</name>
            </value>
        </entry>
    </descriptors>
    <name>Generic CSVReader</name>
    <persistsState>false</persistsState>
    <properties>
        <entry>
            <key>schema-access-strategy</key>
            <value>schema-text-property</value>
        </entry>
        <entry>
            <key>schema-registry</key>
        </entry>
        <entry>
            <key>schema-name</key>
            <value>${schema.name}</value>
        </entry>
        <entry>
            <key>schema-version</key>
        </entry>
        <entry>
            <key>schema-branch</key>
        </entry>
        <entry>
            <key>schema-text</key>
            <value>${users.schema}</value>
        </entry>
        <entry>
            <key>csv-reader-csv-parser</key>
            <value>commons-csv</value>
        </entry>
        <entry>
            <key>Date Format</key>
        </entry>
        <entry>
            <key>Time Format</key>
        </entry>
        <entry>
            <key>Timestamp Format</key>
        </entry>
        <entry>
            <key>CSV Format</key>
            <value>custom</value>
        </entry>
        <entry>
            <key>Value Separator</key>
            <value>,</value>
        </entry>
        <entry>
            <key>Record Separator</key>
            <value>\n</value>
        </entry>
        <entry>
            <key>Skip Header Line</key>
            <value>true</value>
        </entry>
        <entry>
            <key>ignore-csv-header</key>
            <value>false</value>
        </entry>
        <entry>
            <key>Quote Character</key>
            <value>"</value>
        </entry>
        <entry>
            <key>Escape Character</key>
            <value>\</value>
        </entry>
        <entry>
            <key>Comment Marker</key>
        </entry>
        <entry>
            <key>Null String</key>
        </entry>
        <entry>
            <key>Trim Fields</key>
            <value>true</value>
        </entry>
        <entry>
            <key>csvutils-character-set</key>
            <value>UTF-8</value>
        </entry>
        <entry>
            <key>csvutils-allow-duplicate-header-names</key>
            <value>true</value>
        </entry>
    </properties>
    <state>ENABLED</state>
    <type>org.apache.nifi.csv.CSVReader</type>
</controllerServices>
<controllerServices>
    <id>76d754a9-6020-30a5-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <bundle>
        <artifact>nifi-parquet-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <comments></comments>
    <descriptors>
        <entry>
            <key>Schema Write Strategy</key>
            <value>
                <name>Schema Write Strategy</name>
            </value>
        </entry>
        <entry>
            <key>schema-cache</key>
            <value>
                <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                <name>schema-cache</name>
            </value>
        </entry>
        <entry>
            <key>schema-protocol-version</key>
            <value>
                <dependencies>
                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                    <propertyName>Schema Write Strategy</propertyName>
                </dependencies>
                <name>schema-protocol-version</name>
            </value>
        </entry>
        <entry>
            <key>schema-access-strategy</key>
            <value>
                <name>schema-access-strategy</name>
            </value>
        </entry>
        <entry>
            <key>schema-registry</key>
            <value>
                <dependencies>
                    <dependentValues>confluent-encoded</dependentValues>
                    <dependentValues>schema-name</dependentValues>
                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                <name>schema-registry</name>
            </value>
        </entry>
        <entry>
            <key>schema-name</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-name</name>
            </value>
        </entry>
        <entry>
            <key>schema-version</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-version</name>
            </value>
        </entry>
        <entry>
            <key>schema-branch</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-branch</name>
            </value>
        </entry>
        <entry>
            <key>schema-text</key>
            <value>
                <dependencies>
                    <dependentValues>schema-text-property</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-text</name>
            </value>
        </entry>
        <entry>
            <key>cache-size</key>
            <value>
                <name>cache-size</name>
            </value>
        </entry>
        <entry>
            <key>compression-type</key>
            <value>
                <name>compression-type</name>
            </value>
        </entry>
        <entry>
            <key>row-group-size</key>
            <value>
                <name>row-group-size</name>
            </value>
        </entry>
        <entry>
            <key>page-size</key>
            <value>
                <name>page-size</name>
            </value>
        </entry>
        <entry>
            <key>dictionary-page-size</key>
            <value>
                <name>dictionary-page-size</name>
            </value>
        </entry>
        <entry>
            <key>max-padding-size</key>
            <value>
                <name>max-padding-size</name>
            </value>
        </entry>
        <entry>
            <key>enable-dictionary-encoding</key>
            <value>
                <name>enable-dictionary-encoding</name>
            </value>
        </entry>
        <entry>
            <key>enable-validation</key>
            <value>
                <name>enable-validation</name>
            </value>
        </entry>
        <entry>
            <key>writer-version</key>
            <value>
                <name>writer-version</name>
            </value>
        </entry>
        <entry>
            <key>avro-write-old-list-structure</key>
            <value>
                <name>avro-write-old-list-structure</name>
            </value>
        </entry>
        <entry>
            <key>avro-add-list-element-records</key>
            <value>
                <name>avro-add-list-element-records</name>
            </value>
        </entry>
        <entry>
            <key>int96-fields</key>
            <value>
                <name>int96-fields</name>
            </value>
        </entry>
    </descriptors>
    <name>ParquetRecordSetWriter</name>
    <persistsState>false</persistsState>
    <properties>
        <entry>
            <key>Schema Write Strategy</key>
            <value>no-schema</value>
        </entry>
        <entry>
            <key>schema-cache</key>
        </entry>
        <entry>
            <key>schema-protocol-version</key>
            <value>1</value>
        </entry>
        <entry>
            <key>schema-access-strategy</key>
            <value>inherit-record-schema</value>
        </entry>
        <entry>
            <key>schema-registry</key>
        </entry>
        <entry>
            <key>schema-name</key>
            <value>${schema.name}</value>
        </entry>
        <entry>
            <key>schema-version</key>
        </entry>
        <entry>
            <key>schema-branch</key>
        </entry>
        <entry>
            <key>schema-text</key>
            <value>${avro.schema}</value>
        </entry>
        <entry>
            <key>cache-size</key>
            <value>1000</value>
        </entry>
        <entry>
            <key>compression-type</key>
            <value>UNCOMPRESSED</value>
        </entry>
        <entry>
            <key>row-group-size</key>
        </entry>
        <entry>
            <key>page-size</key>
        </entry>
        <entry>
            <key>dictionary-page-size</key>
        </entry>
        <entry>
            <key>max-padding-size</key>
        </entry>
        <entry>
            <key>enable-dictionary-encoding</key>
        </entry>
        <entry>
            <key>enable-validation</key>
        </entry>
        <entry>
            <key>writer-version</key>
        </entry>
        <entry>
            <key>avro-write-old-list-structure</key>
            <value>true</value>
        </entry>
        <entry>
            <key>avro-add-list-element-records</key>
            <value>true</value>
        </entry>
        <entry>
            <key>int96-fields</key>
        </entry>
    </properties>
    <state>ENABLED</state>
    <type>org.apache.nifi.parquet.ParquetRecordSetWriter</type>
</controllerServices>
<controllerServices>
    <id>8882a158-1c64-31bf-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <bundle>
        <artifact>nifi-parquet-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <comments></comments>
    <descriptors>
        <entry>
            <key>avro-read-compatibility</key>
            <value>
                <name>avro-read-compatibility</name>
            </value>
        </entry>
    </descriptors>
    <name>ParquetReader</name>
    <persistsState>false</persistsState>
    <properties>
        <entry>
            <key>avro-read-compatibility</key>
            <value>true</value>
        </entry>
    </properties>
    <state>ENABLED</state>
    <type>org.apache.nifi.parquet.ParquetReader</type>
</controllerServices>
<controllerServices>
    <id>94538630-3ad1-3943-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <comments></comments>
    <descriptors>
        <entry>
            <key>schema-access-strategy</key>
            <value>
                <name>schema-access-strategy</name>
            </value>
        </entry>
        <entry>
            <key>schema-registry</key>
            <value>
                <dependencies>
                    <dependentValues>confluent-encoded</dependentValues>
                    <dependentValues>schema-name</dependentValues>
                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                <name>schema-registry</name>
            </value>
        </entry>
        <entry>
            <key>schema-name</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-name</name>
            </value>
        </entry>
        <entry>
            <key>schema-version</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-version</name>
            </value>
        </entry>
        <entry>
            <key>schema-branch</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-branch</name>
            </value>
        </entry>
        <entry>
            <key>schema-text</key>
            <value>
                <dependencies>
                    <dependentValues>schema-text-property</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-text</name>
            </value>
        </entry>
        <entry>
            <key>schema-inference-cache</key>
            <value>
                <dependencies>
                    <dependentValues>infer-schema</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                <name>schema-inference-cache</name>
            </value>
        </entry>
        <entry>
            <key>Date Format</key>
            <value>
                <name>Date Format</name>
            </value>
        </entry>
        <entry>
            <key>Time Format</key>
            <value>
                <name>Time Format</name>
            </value>
        </entry>
        <entry>
            <key>Timestamp Format</key>
            <value>
                <name>Timestamp Format</name>
            </value>
        </entry>
    </descriptors>
    <name>JsonTreeReader</name>
    <persistsState>false</persistsState>
    <properties>
        <entry>
            <key>schema-access-strategy</key>
            <value>infer-schema</value>
        </entry>
        <entry>
            <key>schema-registry</key>
        </entry>
        <entry>
            <key>schema-name</key>
            <value>${schema.name}</value>
        </entry>
        <entry>
            <key>schema-version</key>
        </entry>
        <entry>
            <key>schema-branch</key>
        </entry>
        <entry>
            <key>schema-text</key>
            <value>${avro.schema}</value>
        </entry>
        <entry>
            <key>schema-inference-cache</key>
        </entry>
        <entry>
            <key>Date Format</key>
        </entry>
        <entry>
            <key>Time Format</key>
        </entry>
        <entry>
            <key>Timestamp Format</key>
        </entry>
    </properties>
    <state>ENABLED</state>
    <type>org.apache.nifi.json.JsonTreeReader</type>
</controllerServices>
<controllerServices>
    <id>c26f67c1-57ca-3050-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <comments></comments>
    <descriptors>
        <entry>
            <key>schema-access-strategy</key>
            <value>
                <name>schema-access-strategy</name>
            </value>
        </entry>
        <entry>
            <key>schema-registry</key>
            <value>
                <dependencies>
                    <dependentValues>confluent-encoded</dependentValues>
                    <dependentValues>schema-name</dependentValues>
                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                <name>schema-registry</name>
            </value>
        </entry>
        <entry>
            <key>schema-name</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-name</name>
            </value>
        </entry>
        <entry>
            <key>schema-version</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-version</name>
            </value>
        </entry>
        <entry>
            <key>schema-branch</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-branch</name>
            </value>
        </entry>
        <entry>
            <key>schema-text</key>
            <value>
                <dependencies>
                    <dependentValues>schema-text-property</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-text</name>
            </value>
        </entry>
        <entry>
            <key>csv-reader-csv-parser</key>
            <value>
                <name>csv-reader-csv-parser</name>
            </value>
        </entry>
        <entry>
            <key>Date Format</key>
            <value>
                <name>Date Format</name>
            </value>
        </entry>
        <entry>
            <key>Time Format</key>
            <value>
                <name>Time Format</name>
            </value>
        </entry>
        <entry>
            <key>Timestamp Format</key>
            <value>
                <name>Timestamp Format</name>
            </value>
        </entry>
        <entry>
            <key>CSV Format</key>
            <value>
                <name>CSV Format</name>
            </value>
        </entry>
        <entry>
            <key>Value Separator</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Value Separator</name>
            </value>
        </entry>
        <entry>
            <key>Record Separator</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Record Separator</name>
            </value>
        </entry>
        <entry>
            <key>Skip Header Line</key>
            <value>
                <name>Skip Header Line</name>
            </value>
        </entry>
        <entry>
            <key>ignore-csv-header</key>
            <value>
                <name>ignore-csv-header</name>
            </value>
        </entry>
        <entry>
            <key>Quote Character</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Quote Character</name>
            </value>
        </entry>
        <entry>
            <key>Escape Character</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Escape Character</name>
            </value>
        </entry>
        <entry>
            <key>Comment Marker</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Comment Marker</name>
            </value>
        </entry>
        <entry>
            <key>Null String</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Null String</name>
            </value>
        </entry>
        <entry>
            <key>Trim Fields</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Trim Fields</name>
            </value>
        </entry>
        <entry>
            <key>csvutils-character-set</key>
            <value>
                <name>csvutils-character-set</name>
            </value>
        </entry>
        <entry>
            <key>csvutils-allow-duplicate-header-names</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>csvutils-allow-duplicate-header-names</name>
            </value>
        </entry>
    </descriptors>
    <name>CSVReader</name>
    <persistsState>false</persistsState>
    <properties>
        <entry>
            <key>schema-access-strategy</key>
            <value>infer-schema</value>
        </entry>
        <entry>
            <key>schema-registry</key>
        </entry>
        <entry>
            <key>schema-name</key>
            <value>${schema.name}</value>
        </entry>
        <entry>
            <key>schema-version</key>
        </entry>
        <entry>
            <key>schema-branch</key>
        </entry>
        <entry>
            <key>schema-text</key>
            <value>${avro.schema}</value>
        </entry>
        <entry>
            <key>csv-reader-csv-parser</key>
            <value>commons-csv</value>
        </entry>
        <entry>
            <key>Date Format</key>
        </entry>
        <entry>
            <key>Time Format</key>
        </entry>
        <entry>
            <key>Timestamp Format</key>
        </entry>
        <entry>
            <key>CSV Format</key>
            <value>custom</value>
        </entry>
        <entry>
            <key>Value Separator</key>
            <value>,</value>
        </entry>
        <entry>
            <key>Record Separator</key>
            <value>\n</value>
        </entry>
        <entry>
            <key>Skip Header Line</key>
            <value>false</value>
        </entry>
        <entry>
            <key>ignore-csv-header</key>
            <value>false</value>
        </entry>
        <entry>
            <key>Quote Character</key>
            <value>"</value>
        </entry>
        <entry>
            <key>Escape Character</key>
            <value>\</value>
        </entry>
        <entry>
            <key>Comment Marker</key>
        </entry>
        <entry>
            <key>Null String</key>
        </entry>
        <entry>
            <key>Trim Fields</key>
            <value>true</value>
        </entry>
        <entry>
            <key>csvutils-character-set</key>
            <value>UTF-8</value>
        </entry>
        <entry>
            <key>csvutils-allow-duplicate-header-names</key>
            <value>true</value>
        </entry>
    </properties>
    <state>ENABLED</state>
    <type>org.apache.nifi.csv.CSVReader</type>
</controllerServices>
<controllerServices>
    <id>d83d37a1-4504-3a47-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <descriptors>
        <entry>
            <key>Schema Write Strategy</key>
            <value>
                <name>Schema Write Strategy</name>
            </value>
        </entry>
        <entry>
            <key>schema-cache</key>
            <value>
                <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                <name>schema-cache</name>
            </value>
        </entry>
        <entry>
            <key>schema-protocol-version</key>
            <value>
                <dependencies>
                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                    <propertyName>Schema Write Strategy</propertyName>
                </dependencies>
                <name>schema-protocol-version</name>
            </value>
        </entry>
        <entry>
            <key>schema-access-strategy</key>
            <value>
                <name>schema-access-strategy</name>
            </value>
        </entry>
        <entry>
            <key>schema-registry</key>
            <value>
                <dependencies>
                    <dependentValues>confluent-encoded</dependentValues>
                    <dependentValues>schema-name</dependentValues>
                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                <name>schema-registry</name>
            </value>
        </entry>
        <entry>
            <key>schema-name</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-name</name>
            </value>
        </entry>
        <entry>
            <key>schema-version</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-version</name>
            </value>
        </entry>
        <entry>
            <key>schema-branch</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-branch</name>
            </value>
        </entry>
        <entry>
            <key>schema-text</key>
            <value>
                <dependencies>
                    <dependentValues>schema-text-property</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-text</name>
            </value>
        </entry>
        <entry>
            <key>compression-format</key>
            <value>
                <name>compression-format</name>
            </value>
        </entry>
        <entry>
            <key>cache-size</key>
            <value>
                <name>cache-size</name>
            </value>
        </entry>
        <entry>
            <key>encoder-pool-size</key>
            <value>
                <name>encoder-pool-size</name>
            </value>
        </entry>
    </descriptors>
    <name>Generic AvroRecordSetWriter</name>
    <persistsState>false</persistsState>
    <properties>
        <entry>
            <key>Schema Write Strategy</key>
            <value>avro-embedded</value>
        </entry>
        <entry>
            <key>schema-cache</key>
        </entry>
        <entry>
            <key>schema-protocol-version</key>
            <value>1</value>
        </entry>
        <entry>
            <key>schema-access-strategy</key>
            <value>inherit-record-schema</value>
        </entry>
        <entry>
            <key>schema-registry</key>
        </entry>
        <entry>
            <key>schema-name</key>
            <value>${schema.name}</value>
        </entry>
        <entry>
            <key>schema-version</key>
        </entry>
        <entry>
            <key>schema-branch</key>
        </entry>
        <entry>
            <key>schema-text</key>
            <value>${avro.schema}</value>
        </entry>
        <entry>
            <key>compression-format</key>
            <value>NONE</value>
        </entry>
        <entry>
            <key>cache-size</key>
            <value>1000</value>
        </entry>
        <entry>
            <key>encoder-pool-size</key>
            <value>32</value>
        </entry>
    </properties>
    <state>ENABLED</state>
    <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
</controllerServices>
<funnels>
    <id>1410d55c-9187-3e5b-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <position>
        <x>144.0</x>
        <y>1096.0</y>
    </position>
</funnels>
<funnels>
    <id>55c8dbf7-90e7-3631-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <position>
        <x>1000.0</x>
        <y>-248.0</y>
    </position>
</funnels>
<funnels>
    <id>5bf89438-bed6-3050-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <position>
        <x>-256.0</x>
        <y>-512.0</y>
    </position>
</funnels>
<funnels>
    <id>6478ccf8-f043-3d91-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <position>
        <x>-240.0</x>
        <y>440.0</y>
    </position>
</funnels>
<funnels>
    <id>6bfa24bb-5206-396f-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <position>
        <x>168.0</x>
        <y>224.0</y>
    </position>
</funnels>
<funnels>
    <id>8ae81bea-30c9-3240-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <position>
        <x>1552.0</x>
        <y>-528.0</y>
    </position>
</funnels>
<funnels>
    <id>a2a84a62-1bd8-3d23-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <position>
        <x>288.0</x>
        <y>-232.0</y>
    </position>
</funnels>
<funnels>
    <id>bf251420-a5be-39f0-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <position>
        <x>624.0</x>
        <y>904.0</y>
    </position>
</funnels>
<funnels>
    <id>c77090f0-dbca-3765-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <position>
        <x>1432.0</x>
        <y>456.0</y>
    </position>
</funnels>
<funnels>
    <id>cfd630f7-53af-3904-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <position>
        <x>1088.0</x>
        <y>224.0</y>
    </position>
</funnels>
<funnels>
    <id>d957bdaa-aeac-3537-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <position>
        <x>624.0</x>
        <y>1320.0</y>
    </position>
</funnels>
<inputPorts>
    <id>1faba441-c7a2-3cc2-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <position>
        <x>528.0</x>
        <y>40.0</y>
    </position>
    <comments></comments>
    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
    <name>Original File</name>
    <state>STOPPED</state>
    <type>INPUT_PORT</type>
</inputPorts>
<labels>
    <id>43df0c5a-2fd1-3620-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <position>
        <x>856.0</x>
        <y>1104.0</y>
    </position>
    <height>24.0</height>
    <label>Writting new parquet file in path curated-zone</label>
    <style>
        <entry>
            <key>background-color</key>
            <value>#d6d6ff</value>
        </entry>
        <entry>
            <key>font-size</key>
            <value>12px</value>
        </entry>
    </style>
    <width>256.0</width>
</labels>
<labels>
    <id>5999a7f2-399c-3b70-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <position>
        <x>-824.0</x>
        <y>-232.0</y>
    </position>
    <height>64.0</height>
    <label>Always checks if you have been inputed the header of file or not!
Depends on case if have config the correlated attribute on
processor.</label>
    <style>
        <entry>
            <key>background-color</key>
            <value>#d6d9ff</value>
        </entry>
        <entry>
            <key>font-size</key>
            <value>12px</value>
        </entry>
    </style>
    <width>400.0</width>
</labels>
<processors>
    <id>009ae58f-c54b-35f3-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <position>
        <x>472.0</x>
        <y>1048.0</y>
    </position>
    <bundle>
        <artifact>nifi-parquet-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Hadoop Configuration Resources</key>
                <value>
                    <name>Hadoop Configuration Resources</name>
                </value>
            </entry>
            <entry>
                <key>kerberos-credentials-service</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                    <name>kerberos-credentials-service</name>
                </value>
            </entry>
            <entry>
                <key>kerberos-user-service</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                    <name>kerberos-user-service</name>
                </value>
            </entry>
            <entry>
                <key>Kerberos Principal</key>
                <value>
                    <name>Kerberos Principal</name>
                </value>
            </entry>
            <entry>
                <key>Kerberos Keytab</key>
                <value>
                    <name>Kerberos Keytab</name>
                </value>
            </entry>
            <entry>
                <key>Kerberos Password</key>
                <value>
                    <name>Kerberos Password</name>
                </value>
            </entry>
            <entry>
                <key>Kerberos Relogin Period</key>
                <value>
                    <name>Kerberos Relogin Period</name>
                </value>
            </entry>
            <entry>
                <key>Additional Classpath Resources</key>
                <value>
                    <name>Additional Classpath Resources</name>
                </value>
            </entry>
            <entry>
                <key>record-reader</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                    <name>record-reader</name>
                </value>
            </entry>
            <entry>
                <key>Directory</key>
                <value>
                    <name>Directory</name>
                </value>
            </entry>
            <entry>
                <key>compression-type</key>
                <value>
                    <name>compression-type</name>
                </value>
            </entry>
            <entry>
                <key>overwrite</key>
                <value>
                    <name>overwrite</name>
                </value>
            </entry>
            <entry>
                <key>permissions-umask</key>
                <value>
                    <name>permissions-umask</name>
                </value>
            </entry>
            <entry>
                <key>remote-group</key>
                <value>
                    <name>remote-group</name>
                </value>
            </entry>
            <entry>
                <key>remote-owner</key>
                <value>
                    <name>remote-owner</name>
                </value>
            </entry>
            <entry>
                <key>row-group-size</key>
                <value>
                    <name>row-group-size</name>
                </value>
            </entry>
            <entry>
                <key>page-size</key>
                <value>
                    <name>page-size</name>
                </value>
            </entry>
            <entry>
                <key>dictionary-page-size</key>
                <value>
                    <name>dictionary-page-size</name>
                </value>
            </entry>
            <entry>
                <key>max-padding-size</key>
                <value>
                    <name>max-padding-size</name>
                </value>
            </entry>
            <entry>
                <key>enable-dictionary-encoding</key>
                <value>
                    <name>enable-dictionary-encoding</name>
                </value>
            </entry>
            <entry>
                <key>enable-validation</key>
                <value>
                    <name>enable-validation</name>
                </value>
            </entry>
            <entry>
                <key>writer-version</key>
                <value>
                    <name>writer-version</name>
                </value>
            </entry>
            <entry>
                <key>avro-write-old-list-structure</key>
                <value>
                    <name>avro-write-old-list-structure</name>
                </value>
            </entry>
            <entry>
                <key>avro-add-list-element-records</key>
                <value>
                    <name>avro-add-list-element-records</name>
                </value>
            </entry>
            <entry>
                <key>remove-crc-files</key>
                <value>
                    <name>remove-crc-files</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Hadoop Configuration Resources</key>
                <value>/opt/hdfs-xmls/core-site.xml,/opt/hdfs-xmls/hdfs-site.xml</value>
            </entry>
            <entry>
                <key>kerberos-credentials-service</key>
            </entry>
            <entry>
                <key>kerberos-user-service</key>
            </entry>
            <entry>
                <key>Kerberos Principal</key>
            </entry>
            <entry>
                <key>Kerberos Keytab</key>
            </entry>
            <entry>
                <key>Kerberos Password</key>
            </entry>
            <entry>
                <key>Kerberos Relogin Period</key>
                <value>4 hours</value>
            </entry>
            <entry>
                <key>Additional Classpath Resources</key>
            </entry>
            <entry>
                <key>record-reader</key>
                <value>8882a158-1c64-31bf-0000-000000000000</value>
            </entry>
            <entry>
                <key>Directory</key>
                <value>/raw-zone/${domain}</value>
            </entry>
            <entry>
                <key>compression-type</key>
                <value>UNCOMPRESSED</value>
            </entry>
            <entry>
                <key>overwrite</key>
                <value>true</value>
            </entry>
            <entry>
                <key>permissions-umask</key>
            </entry>
            <entry>
                <key>remote-group</key>
            </entry>
            <entry>
                <key>remote-owner</key>
            </entry>
            <entry>
                <key>row-group-size</key>
            </entry>
            <entry>
                <key>page-size</key>
            </entry>
            <entry>
                <key>dictionary-page-size</key>
            </entry>
            <entry>
                <key>max-padding-size</key>
            </entry>
            <entry>
                <key>enable-dictionary-encoding</key>
            </entry>
            <entry>
                <key>enable-validation</key>
                <value>true</value>
            </entry>
            <entry>
                <key>writer-version</key>
            </entry>
            <entry>
                <key>avro-write-old-list-structure</key>
                <value>true</value>
            </entry>
            <entry>
                <key>avro-add-list-element-records</key>
                <value>true</value>
            </entry>
            <entry>
                <key>remove-crc-files</key>
                <value>false</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>100 ms</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>PutParquet</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>retry</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.parquet.PutParquet</type>
</processors>
<processors>
    <id>043ffe5f-bbec-32d1-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <position>
        <x>-408.0</x>
        <y>32.0</y>
    </position>
    <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Delete Attributes Expression</key>
                <value>
                    <name>Delete Attributes Expression</name>
                </value>
            </entry>
            <entry>
                <key>Store State</key>
                <value>
                    <name>Store State</name>
                </value>
            </entry>
            <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                    <name>Stateful Variables Initial Value</name>
                </value>
            </entry>
            <entry>
                <key>canonical-value-lookup-cache-size</key>
                <value>
                    <name>canonical-value-lookup-cache-size</name>
                </value>
            </entry>
            <entry>
                <key>users.schema</key>
                <value>
                    <name>users.schema</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Delete Attributes Expression</key>
            </entry>
            <entry>
                <key>Store State</key>
                <value>Do not store state</value>
            </entry>
            <entry>
                <key>Stateful Variables Initial Value</key>
            </entry>
            <entry>
                <key>canonical-value-lookup-cache-size</key>
                <value>100</value>
            </entry>
            <entry>
                <key>users.schema</key>
                <value>{
    "type": "record",
    "name": "users",
    "namespace": "common",
    "fields": [
        {"name": "name", "type": "string"},
        {"name": "phone", "type": "string"},
        {"name": "email", "type" : "string"},
        {"name": "age", "type" : "int"}
    ]
}</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>UpdateAttribute</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
</processors>
<processors>
    <id>1284b544-a5cf-35ac-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <position>
        <x>1400.0</x>
        <y>16.0</y>
    </position>
    <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Delete Attributes Expression</key>
                <value>
                    <name>Delete Attributes Expression</name>
                </value>
            </entry>
            <entry>
                <key>Store State</key>
                <value>
                    <name>Store State</name>
                </value>
            </entry>
            <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                    <name>Stateful Variables Initial Value</name>
                </value>
            </entry>
            <entry>
                <key>canonical-value-lookup-cache-size</key>
                <value>
                    <name>canonical-value-lookup-cache-size</name>
                </value>
            </entry>
            <entry>
                <key>users.schema</key>
                <value>
                    <name>users.schema</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Delete Attributes Expression</key>
            </entry>
            <entry>
                <key>Store State</key>
                <value>Do not store state</value>
            </entry>
            <entry>
                <key>Stateful Variables Initial Value</key>
            </entry>
            <entry>
                <key>canonical-value-lookup-cache-size</key>
                <value>100</value>
            </entry>
            <entry>
                <key>users.schema</key>
                <value>{
    "type": "record",
    "name": "users",
    "namespace": "common",
    "fields": [
        {"name": "name", "type": "string"},
        {"name": "phone", "type": "string"},
        {"name": "email", "type" : "string"},
        {"name": "age", "type" : "int"}
    ]
}</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>UpdateAttribute</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
</processors>
<processors>
    <id>15d399db-e3b1-3e66-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <position>
        <x>808.0</x>
        <y>632.0</y>
    </position>
    <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Delete Attributes Expression</key>
                <value>
                    <name>Delete Attributes Expression</name>
                </value>
            </entry>
            <entry>
                <key>Store State</key>
                <value>
                    <name>Store State</name>
                </value>
            </entry>
            <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                    <name>Stateful Variables Initial Value</name>
                </value>
            </entry>
            <entry>
                <key>canonical-value-lookup-cache-size</key>
                <value>
                    <name>canonical-value-lookup-cache-size</name>
                </value>
            </entry>
            <entry>
                <key>filename</key>
                <value>
                    <name>filename</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Delete Attributes Expression</key>
            </entry>
            <entry>
                <key>Store State</key>
                <value>Do not store state</value>
            </entry>
            <entry>
                <key>Stateful Variables Initial Value</key>
            </entry>
            <entry>
                <key>canonical-value-lookup-cache-size</key>
                <value>100</value>
            </entry>
            <entry>
                <key>filename</key>
                <value>${filename:replace('.json', '.parquet')}</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>Replace Extension File</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
</processors>
<processors>
    <id>188be20f-7fd9-3fc1-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <position>
        <x>72.0</x>
        <y>408.0</y>
    </position>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>record-reader</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                    <name>record-reader</name>
                </value>
            </entry>
            <entry>
                <key>record-writer</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                    <name>record-writer</name>
                </value>
            </entry>
            <entry>
                <key>include-zero-record-flowfiles</key>
                <value>
                    <name>include-zero-record-flowfiles</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>record-reader</key>
                <value>c26f67c1-57ca-3050-0000-000000000000</value>
            </entry>
            <entry>
                <key>record-writer</key>
                <value>76d754a9-6020-30a5-0000-000000000000</value>
            </entry>
            <entry>
                <key>include-zero-record-flowfiles</key>
                <value>true</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>Convert CSV to Parquet</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.ConvertRecord</type>
</processors>
<processors>
    <id>5019a93b-cdf7-3519-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <position>
        <x>72.0</x>
        <y>632.0</y>
    </position>
    <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Delete Attributes Expression</key>
                <value>
                    <name>Delete Attributes Expression</name>
                </value>
            </entry>
            <entry>
                <key>Store State</key>
                <value>
                    <name>Store State</name>
                </value>
            </entry>
            <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                    <name>Stateful Variables Initial Value</name>
                </value>
            </entry>
            <entry>
                <key>canonical-value-lookup-cache-size</key>
                <value>
                    <name>canonical-value-lookup-cache-size</name>
                </value>
            </entry>
            <entry>
                <key>filename</key>
                <value>
                    <name>filename</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Delete Attributes Expression</key>
            </entry>
            <entry>
                <key>Store State</key>
                <value>Do not store state</value>
            </entry>
            <entry>
                <key>Stateful Variables Initial Value</key>
            </entry>
            <entry>
                <key>canonical-value-lookup-cache-size</key>
                <value>100</value>
            </entry>
            <entry>
                <key>filename</key>
                <value>${filename:replace('.csv', '.parquet')}</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>Replace Extension File</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
</processors>
<processors>
    <id>7f24d184-9a00-330f-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <position>
        <x>472.0</x>
        <y>176.0</y>
    </position>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Routing Strategy</key>
                <value>
                    <name>Routing Strategy</name>
                </value>
            </entry>
            <entry>
                <key>csv_file</key>
                <value>
                    <name>csv_file</name>
                </value>
            </entry>
            <entry>
                <key>json_file</key>
                <value>
                    <name>json_file</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Routing Strategy</key>
                <value>Route to Property name</value>
            </entry>
            <entry>
                <key>csv_file</key>
                <value>${filename:endsWith('.csv')}</value>
            </entry>
            <entry>
                <key>json_file</key>
                <value>${filename:endsWith('.json')}</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>RouteOnAttribute</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>csv_file</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>json_file</name>
    </relationships>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
</processors>
<processors>
    <id>9e214555-5b5b-38ae-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <position>
        <x>808.0</x>
        <y>408.0</y>
    </position>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>record-reader</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                    <name>record-reader</name>
                </value>
            </entry>
            <entry>
                <key>record-writer</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                    <name>record-writer</name>
                </value>
            </entry>
            <entry>
                <key>include-zero-record-flowfiles</key>
                <value>
                    <name>include-zero-record-flowfiles</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>record-reader</key>
                <value>94538630-3ad1-3943-0000-000000000000</value>
            </entry>
            <entry>
                <key>record-writer</key>
                <value>76d754a9-6020-30a5-0000-000000000000</value>
            </entry>
            <entry>
                <key>include-zero-record-flowfiles</key>
                <value>true</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>Convert JSON To Parquet</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.ConvertRecord</type>
</processors>
<processors>
    <id>cf91025b-02d8-386b-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <position>
        <x>-408.0</x>
        <y>-272.0</y>
    </position>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>record-reader</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                    <name>record-reader</name>
                </value>
            </entry>
            <entry>
                <key>record-writer</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                    <name>record-writer</name>
                </value>
            </entry>
            <entry>
                <key>invalid-record-writer</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                    <name>invalid-record-writer</name>
                </value>
            </entry>
            <entry>
                <key>schema-access-strategy</key>
                <value>
                    <name>schema-access-strategy</name>
                </value>
            </entry>
            <entry>
                <key>schema-registry</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                    <name>schema-registry</name>
                </value>
            </entry>
            <entry>
                <key>schema-name</key>
                <value>
                    <name>schema-name</name>
                </value>
            </entry>
            <entry>
                <key>schema-text</key>
                <value>
                    <name>schema-text</name>
                </value>
            </entry>
            <entry>
                <key>allow-extra-fields</key>
                <value>
                    <name>allow-extra-fields</name>
                </value>
            </entry>
            <entry>
                <key>strict-type-checking</key>
                <value>
                    <name>strict-type-checking</name>
                </value>
            </entry>
            <entry>
                <key>coerce-types</key>
                <value>
                    <name>coerce-types</name>
                </value>
            </entry>
            <entry>
                <key>validation-details-attribute-name</key>
                <value>
                    <name>validation-details-attribute-name</name>
                </value>
            </entry>
            <entry>
                <key>maximum-validation-details-length</key>
                <value>
                    <name>maximum-validation-details-length</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>record-reader</key>
                <value>27850781-5906-3178-0000-000000000000</value>
            </entry>
            <entry>
                <key>record-writer</key>
                <value>d83d37a1-4504-3a47-0000-000000000000</value>
            </entry>
            <entry>
                <key>invalid-record-writer</key>
            </entry>
            <entry>
                <key>schema-access-strategy</key>
                <value>schema-text-property</value>
            </entry>
            <entry>
                <key>schema-registry</key>
            </entry>
            <entry>
                <key>schema-name</key>
                <value>${schema.name}</value>
            </entry>
            <entry>
                <key>schema-text</key>
                <value>${users.schema}</value>
            </entry>
            <entry>
                <key>allow-extra-fields</key>
                <value>false</value>
            </entry>
            <entry>
                <key>strict-type-checking</key>
                <value>false</value>
            </entry>
            <entry>
                <key>coerce-types</key>
                <value>false</value>
            </entry>
            <entry>
                <key>validation-details-attribute-name</key>
            </entry>
            <entry>
                <key>maximum-validation-details-length</key>
                <value>1024</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>ValidateRecord</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>invalid</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>valid</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.ValidateRecord</type>
</processors>
<processors>
    <id>ff2247c0-6e33-37a7-0000-000000000000</id>
    <parentGroupId>970e408c-f1aa-3417-0000-000000000000</parentGroupId>
    <position>
        <x>1400.0</x>
        <y>-288.0</y>
    </position>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>record-reader</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                    <name>record-reader</name>
                </value>
            </entry>
            <entry>
                <key>record-writer</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                    <name>record-writer</name>
                </value>
            </entry>
            <entry>
                <key>invalid-record-writer</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                    <name>invalid-record-writer</name>
                </value>
            </entry>
            <entry>
                <key>schema-access-strategy</key>
                <value>
                    <name>schema-access-strategy</name>
                </value>
            </entry>
            <entry>
                <key>schema-registry</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                    <name>schema-registry</name>
                </value>
            </entry>
            <entry>
                <key>schema-name</key>
                <value>
                    <name>schema-name</name>
                </value>
            </entry>
            <entry>
                <key>schema-text</key>
                <value>
                    <name>schema-text</name>
                </value>
            </entry>
            <entry>
                <key>allow-extra-fields</key>
                <value>
                    <name>allow-extra-fields</name>
                </value>
            </entry>
            <entry>
                <key>strict-type-checking</key>
                <value>
                    <name>strict-type-checking</name>
                </value>
            </entry>
            <entry>
                <key>coerce-types</key>
                <value>
                    <name>coerce-types</name>
                </value>
            </entry>
            <entry>
                <key>validation-details-attribute-name</key>
                <value>
                    <name>validation-details-attribute-name</name>
                </value>
            </entry>
            <entry>
                <key>maximum-validation-details-length</key>
                <value>
                    <name>maximum-validation-details-length</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>record-reader</key>
                <value>050bda49-baa5-3efc-0000-000000000000</value>
            </entry>
            <entry>
                <key>record-writer</key>
                <value>d83d37a1-4504-3a47-0000-000000000000</value>
            </entry>
            <entry>
                <key>invalid-record-writer</key>
            </entry>
            <entry>
                <key>schema-access-strategy</key>
                <value>schema-text-property</value>
            </entry>
            <entry>
                <key>schema-registry</key>
            </entry>
            <entry>
                <key>schema-name</key>
                <value>${schema.name}</value>
            </entry>
            <entry>
                <key>schema-text</key>
                <value>${users.schema}</value>
            </entry>
            <entry>
                <key>allow-extra-fields</key>
                <value>false</value>
            </entry>
            <entry>
                <key>strict-type-checking</key>
                <value>false</value>
            </entry>
            <entry>
                <key>coerce-types</key>
                <value>false</value>
            </entry>
            <entry>
                <key>validation-details-attribute-name</key>
            </entry>
            <entry>
                <key>maximum-validation-details-length</key>
                <value>1024</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>ValidateRecord</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>invalid</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>valid</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.ValidateRecord</type>
</processors>
                            </contents>
                            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                            <name>Put Parquet File on Raw Zone</name>
                            <variables/>
                        </processGroups>
                        <processGroups>
                            <id>a234a6e3-f81f-3403-0000-000000000000</id>
                            <parentGroupId>bfca4a6d-2847-3d49-0000-000000000000</parentGroupId>
                            <position>
<x>-416.0</x>
<y>456.0</y>
                            </position>
                            <comments></comments>
                            <contents>
<connections>
    <id>70c35bb5-5660-3842-0000-000000000000</id>
    <parentGroupId>a234a6e3-f81f-3403-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>a234a6e3-f81f-3403-0000-000000000000</groupId>
        <id>00eeaf68-45dc-3582-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>a234a6e3-f81f-3403-0000-000000000000</groupId>
        <id>73287dd2-fadd-3a4f-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>a21a56aa-9d89-3957-0000-000000000000</id>
    <parentGroupId>a234a6e3-f81f-3403-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>a234a6e3-f81f-3403-0000-000000000000</groupId>
        <id>73287dd2-fadd-3a4f-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <source>
        <groupId>a234a6e3-f81f-3403-0000-000000000000</groupId>
        <id>d62dfb8e-874a-30c7-0000-000000000000</id>
        <type>INPUT_PORT</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<inputPorts>
    <id>d62dfb8e-874a-30c7-0000-000000000000</id>
    <parentGroupId>a234a6e3-f81f-3403-0000-000000000000</parentGroupId>
    <position>
        <x>-603.0441934687287</x>
        <y>-92.99750352677228</y>
    </position>
    <comments></comments>
    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
    <name>Original File</name>
    <state>STOPPED</state>
    <type>INPUT_PORT</type>
</inputPorts>
<labels>
    <id>d1ad6e3f-e485-3a6b-0000-000000000000</id>
    <parentGroupId>a234a6e3-f81f-3403-0000-000000000000</parentGroupId>
    <position>
        <x>-256.0</x>
        <y>136.0</y>
    </position>
    <height>56.0</height>
    <label>Depends on business domain of file, 
if the domain comes on begin, middle or end
of filename, or any other standard of name</label>
    <style>
        <entry>
            <key>background-color</key>
            <value>#d6d6ff</value>
        </entry>
        <entry>
            <key>font-size</key>
            <value>12px</value>
        </entry>
    </style>
    <width>272.0</width>
</labels>
<outputPorts>
    <id>00eeaf68-45dc-3582-0000-000000000000</id>
    <parentGroupId>a234a6e3-f81f-3403-0000-000000000000</parentGroupId>
    <position>
        <x>-600.0</x>
        <y>376.0</y>
    </position>
    <comments></comments>
    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
    <name>Domain File</name>
    <state>STOPPED</state>
    <type>OUTPUT_PORT</type>
</outputPorts>
<processors>
    <id>73287dd2-fadd-3a4f-0000-000000000000</id>
    <parentGroupId>a234a6e3-f81f-3403-0000-000000000000</parentGroupId>
    <position>
        <x>-656.0</x>
        <y>104.0</y>
    </position>
    <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Delete Attributes Expression</key>
                <value>
                    <name>Delete Attributes Expression</name>
                </value>
            </entry>
            <entry>
                <key>Store State</key>
                <value>
                    <name>Store State</name>
                </value>
            </entry>
            <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                    <name>Stateful Variables Initial Value</name>
                </value>
            </entry>
            <entry>
                <key>canonical-value-lookup-cache-size</key>
                <value>
                    <name>canonical-value-lookup-cache-size</name>
                </value>
            </entry>
            <entry>
                <key>domain</key>
                <value>
                    <name>domain</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Delete Attributes Expression</key>
            </entry>
            <entry>
                <key>Store State</key>
                <value>Do not store state</value>
            </entry>
            <entry>
                <key>Stateful Variables Initial Value</key>
            </entry>
            <entry>
                <key>canonical-value-lookup-cache-size</key>
                <value>100</value>
            </entry>
            <entry>
                <key>domain</key>
                <value>${filename:substringBefore('-')}</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>UpdateAttribute</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
</processors>
                            </contents>
                            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                            <name>Extract Domain</name>
                            <variables/>
                        </processGroups>
                        <processors>
                            <id>285288b0-7108-322e-0000-000000000000</id>
                            <parentGroupId>bfca4a6d-2847-3d49-0000-000000000000</parentGroupId>
                            <position>
<x>-720.0</x>
<y>912.0</y>
                            </position>
                            <bundle>
<artifact>nifi-hadoop-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>
            <name>Hadoop Configuration Resources</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
            <name>kerberos-user-service</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
        <value>
            <name>Kerberos Principal</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
        <value>
            <name>Kerberos Keytab</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Password</key>
        <value>
            <name>Kerberos Password</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>
            <name>Kerberos Relogin Period</name>
        </value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
        <value>
            <name>Additional Classpath Resources</name>
        </value>
    </entry>
    <entry>
        <key>Directory</key>
        <value>
            <name>Directory</name>
        </value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>
            <name>Conflict Resolution Strategy</name>
        </value>
    </entry>
    <entry>
        <key>writing-strategy</key>
        <value>
            <name>writing-strategy</name>
        </value>
    </entry>
    <entry>
        <key>Block Size</key>
        <value>
            <name>Block Size</name>
        </value>
    </entry>
    <entry>
        <key>IO Buffer Size</key>
        <value>
            <name>IO Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Replication</key>
        <value>
            <name>Replication</name>
        </value>
    </entry>
    <entry>
        <key>Permissions umask</key>
        <value>
            <name>Permissions umask</name>
        </value>
    </entry>
    <entry>
        <key>Remote Owner</key>
        <value>
            <name>Remote Owner</name>
        </value>
    </entry>
    <entry>
        <key>Remote Group</key>
        <value>
            <name>Remote Group</name>
        </value>
    </entry>
    <entry>
        <key>Compression codec</key>
        <value>
            <name>Compression codec</name>
        </value>
    </entry>
    <entry>
        <key>Ignore Locality</key>
        <value>
            <name>Ignore Locality</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>/opt/hdfs-xmls/core-site.xml,/opt/hdfs-xmls/hdfs-site.xml</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
    </entry>
    <entry>
        <key>Kerberos Password</key>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>4 hours</value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
    </entry>
    <entry>
        <key>Directory</key>
        <value>/vault/${domain}</value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>fail</value>
    </entry>
    <entry>
        <key>writing-strategy</key>
        <value>writeAndRename</value>
    </entry>
    <entry>
        <key>Block Size</key>
    </entry>
    <entry>
        <key>IO Buffer Size</key>
    </entry>
    <entry>
        <key>Replication</key>
    </entry>
    <entry>
        <key>Permissions umask</key>
    </entry>
    <entry>
        <key>Remote Owner</key>
    </entry>
    <entry>
        <key>Remote Group</key>
    </entry>
    <entry>
        <key>Compression codec</key>
        <value>NONE</value>
    </entry>
    <entry>
        <key>Ignore Locality</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Put Original File on Vault</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
                        </processors>
                        <processors>
                            <id>d0a65101-ca34-3faa-0000-000000000000</id>
                            <parentGroupId>bfca4a6d-2847-3d49-0000-000000000000</parentGroupId>
                            <position>
<x>-400.0</x>
<y>-24.0</y>
                            </position>
                            <bundle>
<artifact>nifi-hadoop-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>
            <name>Hadoop Configuration Resources</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
            <name>kerberos-user-service</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
        <value>
            <name>Kerberos Principal</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
        <value>
            <name>Kerberos Keytab</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Password</key>
        <value>
            <name>Kerberos Password</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>
            <name>Kerberos Relogin Period</name>
        </value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
        <value>
            <name>Additional Classpath Resources</name>
        </value>
    </entry>
    <entry>
        <key>Distributed Cache Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
            <name>Distributed Cache Service</name>
        </value>
    </entry>
    <entry>
        <key>Directory</key>
        <value>
            <name>Directory</name>
        </value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>
            <name>Recurse Subdirectories</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>
            <name>File Filter</name>
        </value>
    </entry>
    <entry>
        <key>file-filter-mode</key>
        <value>
            <name>file-filter-mode</name>
        </value>
    </entry>
    <entry>
        <key>minimum-file-age</key>
        <value>
            <name>minimum-file-age</name>
        </value>
    </entry>
    <entry>
        <key>maximum-file-age</key>
        <value>
            <name>maximum-file-age</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>/opt/hdfs-xmls/core-site.xml,/opt/hdfs-xmls/hdfs-site.xml</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
    </entry>
    <entry>
        <key>Kerberos Password</key>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>4 hours</value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
    </entry>
    <entry>
        <key>Distributed Cache Service</key>
    </entry>
    <entry>
        <key>Directory</key>
        <value>/landing-zone</value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>true</value>
    </entry>
    <entry>
        <key>record-writer</key>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>[^\.].*</value>
    </entry>
    <entry>
        <key>file-filter-mode</key>
        <value>filter-mode-directories-and-files</value>
    </entry>
    <entry>
        <key>minimum-file-age</key>
    </entry>
    <entry>
        <key>maximum-file-age</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>true</executionNodeRestricted>
                            <name>ListHDFS</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.hadoop.ListHDFS</type>
                        </processors>
                        <processors>
                            <id>dace4d3e-7251-3128-0000-000000000000</id>
                            <parentGroupId>bfca4a6d-2847-3d49-0000-000000000000</parentGroupId>
                            <position>
<x>-400.0</x>
<y>200.0</y>
                            </position>
                            <bundle>
<artifact>nifi-hadoop-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>
            <name>Hadoop Configuration Resources</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
            <name>kerberos-user-service</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
        <value>
            <name>Kerberos Principal</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
        <value>
            <name>Kerberos Keytab</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Password</key>
        <value>
            <name>Kerberos Password</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>
            <name>Kerberos Relogin Period</name>
        </value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
        <value>
            <name>Additional Classpath Resources</name>
        </value>
    </entry>
    <entry>
        <key>HDFS Filename</key>
        <value>
            <name>HDFS Filename</name>
        </value>
    </entry>
    <entry>
        <key>Compression codec</key>
        <value>
            <name>Compression codec</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>/opt/hdfs-xmls/core-site.xml,/opt/hdfs-xmls/hdfs-site.xml</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
    </entry>
    <entry>
        <key>Kerberos Password</key>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>4 hours</value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
    </entry>
    <entry>
        <key>HDFS Filename</key>
        <value>${path}/${filename}</value>
    </entry>
    <entry>
        <key>Compression codec</key>
        <value>NONE</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>FetchHDFS</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>comms.failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.hadoop.FetchHDFS</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Landing Zone Ingestion</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>db5c71f3-e1c4-3491-0000-000000000000</id>
                    <parentGroupId>8641910b-861b-3835-0000-000000000000</parentGroupId>
                    <position>
                        <x>536.0</x>
                        <y>792.0</y>
                    </position>
                    <comments></comments>
                    <contents/>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>EnrichementZoneIngestion</name>
                    <variables/>
                </processGroups>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>FileIngestionFramework</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>04/12/2022 13:52:04 UTC</timestamp>
</template>
