nifi/data-flows/file-ingestion-framework.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>ad8b9d1e-017f-1000-0e25-eeef337b4407</groupId>
    <name>file-ingestion-framework</name>
    <snippet>
        <processGroups>
            <id>8641910b-861b-3835-0000-000000000000</id>
            <parentGroupId>2d806db1-6de3-3479-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <processGroups>
                    <id>71dc0d1d-3c1e-3847-0000-000000000000</id>
                    <parentGroupId>8641910b-861b-3835-0000-000000000000</parentGroupId>
                    <position>
                        <x>536.0</x>
                        <y>280.0</y>
                    </position>
                    <comments></comments>
                    <contents/>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>CuratedZoneIngestion</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>bfca4a6d-2847-3d49-0000-000000000000</id>
                    <parentGroupId>8641910b-861b-3835-0000-000000000000</parentGroupId>
                    <position>
                        <x>528.0</x>
                        <y>32.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>4b51ca01-6c6e-37fa-0000-000000000000</id>
                            <parentGroupId>bfca4a6d-2847-3d49-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cf890689-c337-3842-0000-000000000000</groupId>
<id>d4ec2474-ed5b-38a7-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>bfca4a6d-2847-3d49-0000-000000000000</groupId>
<id>be4c1604-d90f-3c7f-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>4d4acd74-244d-3662-0000-000000000000</id>
                            <parentGroupId>bfca4a6d-2847-3d49-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>bfca4a6d-2847-3d49-0000-000000000000</groupId>
<id>64bf9d06-8fff-390c-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <selectedRelationships>not.found</selectedRelationships>
                            <selectedRelationships>permission.denied</selectedRelationships>
                            <source>
<groupId>bfca4a6d-2847-3d49-0000-000000000000</groupId>
<id>be4c1604-d90f-3c7f-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>6a840e80-92d5-3b36-0000-000000000000</id>
                            <parentGroupId>bfca4a6d-2847-3d49-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>bfca4a6d-2847-3d49-0000-000000000000</groupId>
<id>be4c1604-d90f-3c7f-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>bfca4a6d-2847-3d49-0000-000000000000</groupId>
<id>0bc055c7-92b9-3bce-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>64bf9d06-8fff-390c-0000-000000000000</id>
                            <parentGroupId>bfca4a6d-2847-3d49-0000-000000000000</parentGroupId>
                            <position>
<x>48.0</x>
<y>232.0</y>
                            </position>
                        </funnels>
                        <labels>
                            <id>6007ed8e-a98f-35cc-0000-000000000000</id>
                            <parentGroupId>bfca4a6d-2847-3d49-0000-000000000000</parentGroupId>
                            <position>
<x>576.0</x>
<y>-96.0</y>
                            </position>
                            <height>24.0</height>
                            <label>Must be execute every 30s</label>
                            <style>
<entry>
    <key>background-color</key>
    <value>#d6d6ff</value>
</entry>
<entry>
    <key>font-size</key>
    <value>12px</value>
</entry>
                            </style>
                            <width>152.0</width>
                        </labels>
                        <labels>
                            <id>c2a2569f-4415-3fbe-0000-000000000000</id>
                            <parentGroupId>bfca4a6d-2847-3d49-0000-000000000000</parentGroupId>
                            <position>
<x>856.0</x>
<y>184.0</y>
                            </position>
                            <height>168.0</height>
                            <label>absolute.path: /opt/nifi/nifi-current/files/landing-zone/
file.creationTime
file.group
file.lastAccessTime
file.lastModifiedTime
file.owner
file.permissions: rw-rw-r--
file.size
filename
path
uuid</label>
                            <style>
<entry>
    <key>background-color</key>
    <value>#d6d6ff</value>
</entry>
<entry>
    <key>font-size</key>
    <value>12px</value>
</entry>
                            </style>
                            <width>304.0</width>
                        </labels>
                        <processGroups>
                            <id>cf890689-c337-3842-0000-000000000000</id>
                            <parentGroupId>bfca4a6d-2847-3d49-0000-000000000000</parentGroupId>
                            <position>
<x>456.0</x>
<y>440.0</y>
                            </position>
                            <comments></comments>
                            <contents>
<connections>
    <id>20088dab-f3f1-3b6e-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>cf890689-c337-3842-0000-000000000000</groupId>
        <id>2c3e840f-4b41-334c-0000-000000000000</id>
        <type>FUNNEL</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>failure</selectedRelationships>
    <source>
        <groupId>cf890689-c337-3842-0000-000000000000</groupId>
        <id>ebb6f1c1-e92e-3198-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>5e72d8ae-1e62-3a98-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>cf890689-c337-3842-0000-000000000000</groupId>
        <id>93076009-a1f2-3c6b-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>cf890689-c337-3842-0000-000000000000</groupId>
        <id>ebb6f1c1-e92e-3198-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>6901b016-4446-3dfc-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>cf890689-c337-3842-0000-000000000000</groupId>
        <id>d6ddc275-ac7e-3811-0000-000000000000</id>
        <type>FUNNEL</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>cf890689-c337-3842-0000-000000000000</groupId>
        <id>93076009-a1f2-3c6b-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>7482e3c6-8b13-3e22-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>cf890689-c337-3842-0000-000000000000</groupId>
        <id>831bcf56-5747-3ded-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <source>
        <groupId>cf890689-c337-3842-0000-000000000000</groupId>
        <id>d4ec2474-ed5b-38a7-0000-000000000000</id>
        <type>INPUT_PORT</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>791f2fa2-049b-3440-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>cf890689-c337-3842-0000-000000000000</groupId>
        <id>d4605183-51e2-3a93-0000-000000000000</id>
        <type>FUNNEL</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>failure</selectedRelationships>
    <source>
        <groupId>cf890689-c337-3842-0000-000000000000</groupId>
        <id>28166db5-d3eb-313f-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>8901c805-96d3-3a4d-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>cf890689-c337-3842-0000-000000000000</groupId>
        <id>ebb6f1c1-e92e-3198-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>csv_file</selectedRelationships>
    <source>
        <groupId>cf890689-c337-3842-0000-000000000000</groupId>
        <id>831bcf56-5747-3ded-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>952141f7-84f9-345c-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>cf890689-c337-3842-0000-000000000000</groupId>
        <id>13c349a6-e75b-3711-0000-000000000000</id>
        <type>FUNNEL</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>cf890689-c337-3842-0000-000000000000</groupId>
        <id>9f6e6374-4aa4-3073-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>9a653d6c-ded2-314e-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>cf890689-c337-3842-0000-000000000000</groupId>
        <id>a9987750-7805-35c4-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>cf890689-c337-3842-0000-000000000000</groupId>
        <id>28166db5-d3eb-313f-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>c861b0ea-5961-3ce2-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>cf890689-c337-3842-0000-000000000000</groupId>
        <id>8a706d06-43a0-35bc-0000-000000000000</id>
        <type>FUNNEL</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>failure</selectedRelationships>
    <selectedRelationships>retry</selectedRelationships>
    <source>
        <groupId>cf890689-c337-3842-0000-000000000000</groupId>
        <id>9f6e6374-4aa4-3073-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>f308d824-4fce-336b-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>cf890689-c337-3842-0000-000000000000</groupId>
        <id>28166db5-d3eb-313f-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>json_file</selectedRelationships>
    <source>
        <groupId>cf890689-c337-3842-0000-000000000000</groupId>
        <id>831bcf56-5747-3ded-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>f5efa6f1-1fc2-365e-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>cf890689-c337-3842-0000-000000000000</groupId>
        <id>d6ddc275-ac7e-3811-0000-000000000000</id>
        <type>FUNNEL</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>cf890689-c337-3842-0000-000000000000</groupId>
        <id>a9987750-7805-35c4-0000-000000000000</id>
        <type>PROCESSOR</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>f6703e1d-b73c-32e0-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>cf890689-c337-3842-0000-000000000000</groupId>
        <id>9f6e6374-4aa4-3073-0000-000000000000</id>
        <type>PROCESSOR</type>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <source>
        <groupId>cf890689-c337-3842-0000-000000000000</groupId>
        <id>d6ddc275-ac7e-3811-0000-000000000000</id>
        <type>FUNNEL</type>
    </source>
    <zIndex>0</zIndex>
</connections>
<controllerServices>
    <id>1934ebdf-60d7-3dad-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <bundle>
        <artifact>nifi-parquet-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <comments></comments>
    <descriptors>
        <entry>
            <key>avro-read-compatibility</key>
            <value>
                <name>avro-read-compatibility</name>
            </value>
        </entry>
    </descriptors>
    <name>ParquetReader</name>
    <persistsState>false</persistsState>
    <properties>
        <entry>
            <key>avro-read-compatibility</key>
            <value>true</value>
        </entry>
    </properties>
    <state>ENABLED</state>
    <type>org.apache.nifi.parquet.ParquetReader</type>
</controllerServices>
<controllerServices>
    <id>590965f8-1b1b-3735-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <bundle>
        <artifact>nifi-parquet-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <comments></comments>
    <descriptors>
        <entry>
            <key>Schema Write Strategy</key>
            <value>
                <name>Schema Write Strategy</name>
            </value>
        </entry>
        <entry>
            <key>schema-cache</key>
            <value>
                <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                <name>schema-cache</name>
            </value>
        </entry>
        <entry>
            <key>schema-protocol-version</key>
            <value>
                <dependencies>
                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                    <propertyName>Schema Write Strategy</propertyName>
                </dependencies>
                <name>schema-protocol-version</name>
            </value>
        </entry>
        <entry>
            <key>schema-access-strategy</key>
            <value>
                <name>schema-access-strategy</name>
            </value>
        </entry>
        <entry>
            <key>schema-registry</key>
            <value>
                <dependencies>
                    <dependentValues>confluent-encoded</dependentValues>
                    <dependentValues>schema-name</dependentValues>
                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                <name>schema-registry</name>
            </value>
        </entry>
        <entry>
            <key>schema-name</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-name</name>
            </value>
        </entry>
        <entry>
            <key>schema-version</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-version</name>
            </value>
        </entry>
        <entry>
            <key>schema-branch</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-branch</name>
            </value>
        </entry>
        <entry>
            <key>schema-text</key>
            <value>
                <dependencies>
                    <dependentValues>schema-text-property</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-text</name>
            </value>
        </entry>
        <entry>
            <key>cache-size</key>
            <value>
                <name>cache-size</name>
            </value>
        </entry>
        <entry>
            <key>compression-type</key>
            <value>
                <name>compression-type</name>
            </value>
        </entry>
        <entry>
            <key>row-group-size</key>
            <value>
                <name>row-group-size</name>
            </value>
        </entry>
        <entry>
            <key>page-size</key>
            <value>
                <name>page-size</name>
            </value>
        </entry>
        <entry>
            <key>dictionary-page-size</key>
            <value>
                <name>dictionary-page-size</name>
            </value>
        </entry>
        <entry>
            <key>max-padding-size</key>
            <value>
                <name>max-padding-size</name>
            </value>
        </entry>
        <entry>
            <key>enable-dictionary-encoding</key>
            <value>
                <name>enable-dictionary-encoding</name>
            </value>
        </entry>
        <entry>
            <key>enable-validation</key>
            <value>
                <name>enable-validation</name>
            </value>
        </entry>
        <entry>
            <key>writer-version</key>
            <value>
                <name>writer-version</name>
            </value>
        </entry>
        <entry>
            <key>avro-write-old-list-structure</key>
            <value>
                <name>avro-write-old-list-structure</name>
            </value>
        </entry>
        <entry>
            <key>avro-add-list-element-records</key>
            <value>
                <name>avro-add-list-element-records</name>
            </value>
        </entry>
        <entry>
            <key>int96-fields</key>
            <value>
                <name>int96-fields</name>
            </value>
        </entry>
    </descriptors>
    <name>ParquetRecordSetWriter</name>
    <persistsState>false</persistsState>
    <properties>
        <entry>
            <key>Schema Write Strategy</key>
            <value>no-schema</value>
        </entry>
        <entry>
            <key>schema-cache</key>
        </entry>
        <entry>
            <key>schema-protocol-version</key>
            <value>1</value>
        </entry>
        <entry>
            <key>schema-access-strategy</key>
            <value>inherit-record-schema</value>
        </entry>
        <entry>
            <key>schema-registry</key>
        </entry>
        <entry>
            <key>schema-name</key>
            <value>${schema.name}</value>
        </entry>
        <entry>
            <key>schema-version</key>
        </entry>
        <entry>
            <key>schema-branch</key>
        </entry>
        <entry>
            <key>schema-text</key>
            <value>${avro.schema}</value>
        </entry>
        <entry>
            <key>cache-size</key>
            <value>1000</value>
        </entry>
        <entry>
            <key>compression-type</key>
            <value>UNCOMPRESSED</value>
        </entry>
        <entry>
            <key>row-group-size</key>
        </entry>
        <entry>
            <key>page-size</key>
        </entry>
        <entry>
            <key>dictionary-page-size</key>
        </entry>
        <entry>
            <key>max-padding-size</key>
        </entry>
        <entry>
            <key>enable-dictionary-encoding</key>
        </entry>
        <entry>
            <key>enable-validation</key>
        </entry>
        <entry>
            <key>writer-version</key>
        </entry>
        <entry>
            <key>avro-write-old-list-structure</key>
            <value>true</value>
        </entry>
        <entry>
            <key>avro-add-list-element-records</key>
            <value>true</value>
        </entry>
        <entry>
            <key>int96-fields</key>
        </entry>
    </properties>
    <state>ENABLED</state>
    <type>org.apache.nifi.parquet.ParquetRecordSetWriter</type>
</controllerServices>
<controllerServices>
    <id>acec0ee5-dc29-3bec-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <comments></comments>
    <descriptors>
        <entry>
            <key>schema-access-strategy</key>
            <value>
                <name>schema-access-strategy</name>
            </value>
        </entry>
        <entry>
            <key>schema-registry</key>
            <value>
                <dependencies>
                    <dependentValues>confluent-encoded</dependentValues>
                    <dependentValues>schema-name</dependentValues>
                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                <name>schema-registry</name>
            </value>
        </entry>
        <entry>
            <key>schema-name</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-name</name>
            </value>
        </entry>
        <entry>
            <key>schema-version</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-version</name>
            </value>
        </entry>
        <entry>
            <key>schema-branch</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-branch</name>
            </value>
        </entry>
        <entry>
            <key>schema-text</key>
            <value>
                <dependencies>
                    <dependentValues>schema-text-property</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-text</name>
            </value>
        </entry>
        <entry>
            <key>schema-inference-cache</key>
            <value>
                <dependencies>
                    <dependentValues>infer-schema</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                <name>schema-inference-cache</name>
            </value>
        </entry>
        <entry>
            <key>Date Format</key>
            <value>
                <name>Date Format</name>
            </value>
        </entry>
        <entry>
            <key>Time Format</key>
            <value>
                <name>Time Format</name>
            </value>
        </entry>
        <entry>
            <key>Timestamp Format</key>
            <value>
                <name>Timestamp Format</name>
            </value>
        </entry>
    </descriptors>
    <name>JsonTreeReader</name>
    <persistsState>false</persistsState>
    <properties>
        <entry>
            <key>schema-access-strategy</key>
            <value>infer-schema</value>
        </entry>
        <entry>
            <key>schema-registry</key>
        </entry>
        <entry>
            <key>schema-name</key>
            <value>${schema.name}</value>
        </entry>
        <entry>
            <key>schema-version</key>
        </entry>
        <entry>
            <key>schema-branch</key>
        </entry>
        <entry>
            <key>schema-text</key>
            <value>${avro.schema}</value>
        </entry>
        <entry>
            <key>schema-inference-cache</key>
        </entry>
        <entry>
            <key>Date Format</key>
        </entry>
        <entry>
            <key>Time Format</key>
        </entry>
        <entry>
            <key>Timestamp Format</key>
        </entry>
    </properties>
    <state>ENABLED</state>
    <type>org.apache.nifi.json.JsonTreeReader</type>
</controllerServices>
<controllerServices>
    <id>b8a727f0-2a49-3d10-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <comments></comments>
    <descriptors>
        <entry>
            <key>schema-access-strategy</key>
            <value>
                <name>schema-access-strategy</name>
            </value>
        </entry>
        <entry>
            <key>schema-registry</key>
            <value>
                <dependencies>
                    <dependentValues>confluent-encoded</dependentValues>
                    <dependentValues>schema-name</dependentValues>
                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                <name>schema-registry</name>
            </value>
        </entry>
        <entry>
            <key>schema-name</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-name</name>
            </value>
        </entry>
        <entry>
            <key>schema-version</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-version</name>
            </value>
        </entry>
        <entry>
            <key>schema-branch</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-branch</name>
            </value>
        </entry>
        <entry>
            <key>schema-text</key>
            <value>
                <dependencies>
                    <dependentValues>schema-text-property</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-text</name>
            </value>
        </entry>
        <entry>
            <key>csv-reader-csv-parser</key>
            <value>
                <name>csv-reader-csv-parser</name>
            </value>
        </entry>
        <entry>
            <key>Date Format</key>
            <value>
                <name>Date Format</name>
            </value>
        </entry>
        <entry>
            <key>Time Format</key>
            <value>
                <name>Time Format</name>
            </value>
        </entry>
        <entry>
            <key>Timestamp Format</key>
            <value>
                <name>Timestamp Format</name>
            </value>
        </entry>
        <entry>
            <key>CSV Format</key>
            <value>
                <name>CSV Format</name>
            </value>
        </entry>
        <entry>
            <key>Value Separator</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Value Separator</name>
            </value>
        </entry>
        <entry>
            <key>Record Separator</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Record Separator</name>
            </value>
        </entry>
        <entry>
            <key>Skip Header Line</key>
            <value>
                <name>Skip Header Line</name>
            </value>
        </entry>
        <entry>
            <key>ignore-csv-header</key>
            <value>
                <name>ignore-csv-header</name>
            </value>
        </entry>
        <entry>
            <key>Quote Character</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Quote Character</name>
            </value>
        </entry>
        <entry>
            <key>Escape Character</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Escape Character</name>
            </value>
        </entry>
        <entry>
            <key>Comment Marker</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Comment Marker</name>
            </value>
        </entry>
        <entry>
            <key>Null String</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Null String</name>
            </value>
        </entry>
        <entry>
            <key>Trim Fields</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Trim Fields</name>
            </value>
        </entry>
        <entry>
            <key>csvutils-character-set</key>
            <value>
                <name>csvutils-character-set</name>
            </value>
        </entry>
        <entry>
            <key>csvutils-allow-duplicate-header-names</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>csvutils-allow-duplicate-header-names</name>
            </value>
        </entry>
    </descriptors>
    <name>CSVReader</name>
    <persistsState>false</persistsState>
    <properties>
        <entry>
            <key>schema-access-strategy</key>
            <value>infer-schema</value>
        </entry>
        <entry>
            <key>schema-registry</key>
        </entry>
        <entry>
            <key>schema-name</key>
            <value>${schema.name}</value>
        </entry>
        <entry>
            <key>schema-version</key>
        </entry>
        <entry>
            <key>schema-branch</key>
        </entry>
        <entry>
            <key>schema-text</key>
            <value>${avro.schema}</value>
        </entry>
        <entry>
            <key>csv-reader-csv-parser</key>
            <value>commons-csv</value>
        </entry>
        <entry>
            <key>Date Format</key>
        </entry>
        <entry>
            <key>Time Format</key>
        </entry>
        <entry>
            <key>Timestamp Format</key>
        </entry>
        <entry>
            <key>CSV Format</key>
            <value>custom</value>
        </entry>
        <entry>
            <key>Value Separator</key>
            <value>,</value>
        </entry>
        <entry>
            <key>Record Separator</key>
            <value>\n</value>
        </entry>
        <entry>
            <key>Skip Header Line</key>
            <value>false</value>
        </entry>
        <entry>
            <key>ignore-csv-header</key>
            <value>false</value>
        </entry>
        <entry>
            <key>Quote Character</key>
            <value>"</value>
        </entry>
        <entry>
            <key>Escape Character</key>
            <value>\</value>
        </entry>
        <entry>
            <key>Comment Marker</key>
        </entry>
        <entry>
            <key>Null String</key>
        </entry>
        <entry>
            <key>Trim Fields</key>
            <value>true</value>
        </entry>
        <entry>
            <key>csvutils-character-set</key>
            <value>UTF-8</value>
        </entry>
        <entry>
            <key>csvutils-allow-duplicate-header-names</key>
            <value>true</value>
        </entry>
    </properties>
    <state>ENABLED</state>
    <type>org.apache.nifi.csv.CSVReader</type>
</controllerServices>
<funnels>
    <id>13c349a6-e75b-3711-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <position>
        <x>624.0</x>
        <y>1320.0</y>
    </position>
</funnels>
<funnels>
    <id>2c3e840f-4b41-334c-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <position>
        <x>-240.0</x>
        <y>440.0</y>
    </position>
</funnels>
<funnels>
    <id>8a706d06-43a0-35bc-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <position>
        <x>144.0</x>
        <y>1096.0</y>
    </position>
</funnels>
<funnels>
    <id>d4605183-51e2-3a93-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <position>
        <x>1432.0</x>
        <y>456.0</y>
    </position>
</funnels>
<funnels>
    <id>d6ddc275-ac7e-3811-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <position>
        <x>624.0</x>
        <y>904.0</y>
    </position>
</funnels>
<inputPorts>
    <id>d4ec2474-ed5b-38a7-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <position>
        <x>528.0</x>
        <y>40.0</y>
    </position>
    <comments></comments>
    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
    <name>Landing Files</name>
    <state>STOPPED</state>
    <type>INPUT_PORT</type>
</inputPorts>
<labels>
    <id>ed2c4918-ae10-3ac5-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <position>
        <x>856.0</x>
        <y>1104.0</y>
    </position>
    <height>24.0</height>
    <label>Writting new parquet file in path curated-zone</label>
    <style>
        <entry>
            <key>background-color</key>
            <value>#d6d6ff</value>
        </entry>
        <entry>
            <key>font-size</key>
            <value>12px</value>
        </entry>
    </style>
    <width>256.0</width>
</labels>
<processors>
    <id>28166db5-d3eb-313f-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <position>
        <x>808.0</x>
        <y>408.0</y>
    </position>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>record-reader</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                    <name>record-reader</name>
                </value>
            </entry>
            <entry>
                <key>record-writer</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                    <name>record-writer</name>
                </value>
            </entry>
            <entry>
                <key>include-zero-record-flowfiles</key>
                <value>
                    <name>include-zero-record-flowfiles</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>record-reader</key>
                <value>acec0ee5-dc29-3bec-0000-000000000000</value>
            </entry>
            <entry>
                <key>record-writer</key>
                <value>590965f8-1b1b-3735-0000-000000000000</value>
            </entry>
            <entry>
                <key>include-zero-record-flowfiles</key>
                <value>true</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>Convert JSON To Parquet</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.ConvertRecord</type>
</processors>
<processors>
    <id>831bcf56-5747-3ded-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <position>
        <x>472.0</x>
        <y>176.0</y>
    </position>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Routing Strategy</key>
                <value>
                    <name>Routing Strategy</name>
                </value>
            </entry>
            <entry>
                <key>csv_file</key>
                <value>
                    <name>csv_file</name>
                </value>
            </entry>
            <entry>
                <key>json_file</key>
                <value>
                    <name>json_file</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Routing Strategy</key>
                <value>Route to Property name</value>
            </entry>
            <entry>
                <key>csv_file</key>
                <value>${filename:endsWith('.csv')}</value>
            </entry>
            <entry>
                <key>json_file</key>
                <value>${filename:endsWith('.json')}</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>RouteOnAttribute</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>csv_file</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>json_file</name>
    </relationships>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
</processors>
<processors>
    <id>93076009-a1f2-3c6b-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <position>
        <x>72.0</x>
        <y>632.0</y>
    </position>
    <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Delete Attributes Expression</key>
                <value>
                    <name>Delete Attributes Expression</name>
                </value>
            </entry>
            <entry>
                <key>Store State</key>
                <value>
                    <name>Store State</name>
                </value>
            </entry>
            <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                    <name>Stateful Variables Initial Value</name>
                </value>
            </entry>
            <entry>
                <key>canonical-value-lookup-cache-size</key>
                <value>
                    <name>canonical-value-lookup-cache-size</name>
                </value>
            </entry>
            <entry>
                <key>filename</key>
                <value>
                    <name>filename</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Delete Attributes Expression</key>
            </entry>
            <entry>
                <key>Store State</key>
                <value>Do not store state</value>
            </entry>
            <entry>
                <key>Stateful Variables Initial Value</key>
            </entry>
            <entry>
                <key>canonical-value-lookup-cache-size</key>
                <value>100</value>
            </entry>
            <entry>
                <key>filename</key>
                <value>${filename:replace('.csv', '.parquet')}</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>Replace Extension File</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
</processors>
<processors>
    <id>9f6e6374-4aa4-3073-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <position>
        <x>472.0</x>
        <y>1048.0</y>
    </position>
    <bundle>
        <artifact>nifi-parquet-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Hadoop Configuration Resources</key>
                <value>
                    <name>Hadoop Configuration Resources</name>
                </value>
            </entry>
            <entry>
                <key>kerberos-credentials-service</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                    <name>kerberos-credentials-service</name>
                </value>
            </entry>
            <entry>
                <key>kerberos-user-service</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                    <name>kerberos-user-service</name>
                </value>
            </entry>
            <entry>
                <key>Kerberos Principal</key>
                <value>
                    <name>Kerberos Principal</name>
                </value>
            </entry>
            <entry>
                <key>Kerberos Keytab</key>
                <value>
                    <name>Kerberos Keytab</name>
                </value>
            </entry>
            <entry>
                <key>Kerberos Password</key>
                <value>
                    <name>Kerberos Password</name>
                </value>
            </entry>
            <entry>
                <key>Kerberos Relogin Period</key>
                <value>
                    <name>Kerberos Relogin Period</name>
                </value>
            </entry>
            <entry>
                <key>Additional Classpath Resources</key>
                <value>
                    <name>Additional Classpath Resources</name>
                </value>
            </entry>
            <entry>
                <key>record-reader</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                    <name>record-reader</name>
                </value>
            </entry>
            <entry>
                <key>Directory</key>
                <value>
                    <name>Directory</name>
                </value>
            </entry>
            <entry>
                <key>compression-type</key>
                <value>
                    <name>compression-type</name>
                </value>
            </entry>
            <entry>
                <key>overwrite</key>
                <value>
                    <name>overwrite</name>
                </value>
            </entry>
            <entry>
                <key>permissions-umask</key>
                <value>
                    <name>permissions-umask</name>
                </value>
            </entry>
            <entry>
                <key>remote-group</key>
                <value>
                    <name>remote-group</name>
                </value>
            </entry>
            <entry>
                <key>remote-owner</key>
                <value>
                    <name>remote-owner</name>
                </value>
            </entry>
            <entry>
                <key>row-group-size</key>
                <value>
                    <name>row-group-size</name>
                </value>
            </entry>
            <entry>
                <key>page-size</key>
                <value>
                    <name>page-size</name>
                </value>
            </entry>
            <entry>
                <key>dictionary-page-size</key>
                <value>
                    <name>dictionary-page-size</name>
                </value>
            </entry>
            <entry>
                <key>max-padding-size</key>
                <value>
                    <name>max-padding-size</name>
                </value>
            </entry>
            <entry>
                <key>enable-dictionary-encoding</key>
                <value>
                    <name>enable-dictionary-encoding</name>
                </value>
            </entry>
            <entry>
                <key>enable-validation</key>
                <value>
                    <name>enable-validation</name>
                </value>
            </entry>
            <entry>
                <key>writer-version</key>
                <value>
                    <name>writer-version</name>
                </value>
            </entry>
            <entry>
                <key>avro-write-old-list-structure</key>
                <value>
                    <name>avro-write-old-list-structure</name>
                </value>
            </entry>
            <entry>
                <key>avro-add-list-element-records</key>
                <value>
                    <name>avro-add-list-element-records</name>
                </value>
            </entry>
            <entry>
                <key>remove-crc-files</key>
                <value>
                    <name>remove-crc-files</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Hadoop Configuration Resources</key>
                <value>/opt/hdfs-xmls/core-site.xml,/opt/hdfs-xmls/hdfs-site.xml</value>
            </entry>
            <entry>
                <key>kerberos-credentials-service</key>
            </entry>
            <entry>
                <key>kerberos-user-service</key>
            </entry>
            <entry>
                <key>Kerberos Principal</key>
            </entry>
            <entry>
                <key>Kerberos Keytab</key>
            </entry>
            <entry>
                <key>Kerberos Password</key>
            </entry>
            <entry>
                <key>Kerberos Relogin Period</key>
                <value>4 hours</value>
            </entry>
            <entry>
                <key>Additional Classpath Resources</key>
            </entry>
            <entry>
                <key>record-reader</key>
                <value>1934ebdf-60d7-3dad-0000-000000000000</value>
            </entry>
            <entry>
                <key>Directory</key>
                <value>/curated-zone</value>
            </entry>
            <entry>
                <key>compression-type</key>
                <value>UNCOMPRESSED</value>
            </entry>
            <entry>
                <key>overwrite</key>
                <value>true</value>
            </entry>
            <entry>
                <key>permissions-umask</key>
            </entry>
            <entry>
                <key>remote-group</key>
            </entry>
            <entry>
                <key>remote-owner</key>
            </entry>
            <entry>
                <key>row-group-size</key>
            </entry>
            <entry>
                <key>page-size</key>
            </entry>
            <entry>
                <key>dictionary-page-size</key>
            </entry>
            <entry>
                <key>max-padding-size</key>
            </entry>
            <entry>
                <key>enable-dictionary-encoding</key>
            </entry>
            <entry>
                <key>enable-validation</key>
                <value>true</value>
            </entry>
            <entry>
                <key>writer-version</key>
            </entry>
            <entry>
                <key>avro-write-old-list-structure</key>
                <value>true</value>
            </entry>
            <entry>
                <key>avro-add-list-element-records</key>
                <value>true</value>
            </entry>
            <entry>
                <key>remove-crc-files</key>
                <value>false</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>100 ms</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>PutParquet</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>retry</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.parquet.PutParquet</type>
</processors>
<processors>
    <id>a9987750-7805-35c4-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <position>
        <x>808.0</x>
        <y>632.0</y>
    </position>
    <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Delete Attributes Expression</key>
                <value>
                    <name>Delete Attributes Expression</name>
                </value>
            </entry>
            <entry>
                <key>Store State</key>
                <value>
                    <name>Store State</name>
                </value>
            </entry>
            <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                    <name>Stateful Variables Initial Value</name>
                </value>
            </entry>
            <entry>
                <key>canonical-value-lookup-cache-size</key>
                <value>
                    <name>canonical-value-lookup-cache-size</name>
                </value>
            </entry>
            <entry>
                <key>filename</key>
                <value>
                    <name>filename</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Delete Attributes Expression</key>
            </entry>
            <entry>
                <key>Store State</key>
                <value>Do not store state</value>
            </entry>
            <entry>
                <key>Stateful Variables Initial Value</key>
            </entry>
            <entry>
                <key>canonical-value-lookup-cache-size</key>
                <value>100</value>
            </entry>
            <entry>
                <key>filename</key>
                <value>${filename:replace('.json', '.parquet')}</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>Replace Extension File</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
</processors>
<processors>
    <id>ebb6f1c1-e92e-3198-0000-000000000000</id>
    <parentGroupId>cf890689-c337-3842-0000-000000000000</parentGroupId>
    <position>
        <x>72.0</x>
        <y>408.0</y>
    </position>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.15.3</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>record-reader</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                    <name>record-reader</name>
                </value>
            </entry>
            <entry>
                <key>record-writer</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                    <name>record-writer</name>
                </value>
            </entry>
            <entry>
                <key>include-zero-record-flowfiles</key>
                <value>
                    <name>include-zero-record-flowfiles</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>record-reader</key>
                <value>b8a727f0-2a49-3d10-0000-000000000000</value>
            </entry>
            <entry>
                <key>record-writer</key>
                <value>590965f8-1b1b-3735-0000-000000000000</value>
            </entry>
            <entry>
                <key>include-zero-record-flowfiles</key>
                <value>true</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>Convert CSV to Parquet</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.ConvertRecord</type>
</processors>
                            </contents>
                            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                            <name>Convert To Parquet</name>
                            <variables/>
                        </processGroups>
                        <processors>
                            <id>0bc055c7-92b9-3bce-0000-000000000000</id>
                            <parentGroupId>bfca4a6d-2847-3d49-0000-000000000000</parentGroupId>
                            <position>
<x>472.0</x>
<y>-24.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Input Directory</key>
        <value>
            <name>Input Directory</name>
        </value>
    </entry>
    <entry>
        <key>listing-strategy</key>
        <value>
            <name>listing-strategy</name>
        </value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>
            <name>Recurse Subdirectories</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>Input Directory Location</key>
        <value>
            <name>Input Directory Location</name>
        </value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>
            <name>File Filter</name>
        </value>
    </entry>
    <entry>
        <key>Path Filter</key>
        <value>
            <name>Path Filter</name>
        </value>
    </entry>
    <entry>
        <key>Include File Attributes</key>
        <value>
            <name>Include File Attributes</name>
        </value>
    </entry>
    <entry>
        <key>Minimum File Age</key>
        <value>
            <name>Minimum File Age</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Age</key>
        <value>
            <name>Maximum File Age</name>
        </value>
    </entry>
    <entry>
        <key>Minimum File Size</key>
        <value>
            <name>Minimum File Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Size</key>
        <value>
            <name>Maximum File Size</name>
        </value>
    </entry>
    <entry>
        <key>Ignore Hidden Files</key>
        <value>
            <name>Ignore Hidden Files</name>
        </value>
    </entry>
    <entry>
        <key>target-system-timestamp-precision</key>
        <value>
            <name>target-system-timestamp-precision</name>
        </value>
    </entry>
    <entry>
        <key>et-state-cache</key>
        <value>
            <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
            <name>et-state-cache</name>
        </value>
    </entry>
    <entry>
        <key>et-time-window</key>
        <value>
            <name>et-time-window</name>
        </value>
    </entry>
    <entry>
        <key>et-initial-listing-target</key>
        <value>
            <name>et-initial-listing-target</name>
        </value>
    </entry>
    <entry>
        <key>et-node-identifier</key>
        <value>
            <name>et-node-identifier</name>
        </value>
    </entry>
    <entry>
        <key>track-performance</key>
        <value>
            <name>track-performance</name>
        </value>
    </entry>
    <entry>
        <key>max-performance-metrics</key>
        <value>
            <name>max-performance-metrics</name>
        </value>
    </entry>
    <entry>
        <key>max-operation-time</key>
        <value>
            <name>max-operation-time</name>
        </value>
    </entry>
    <entry>
        <key>max-listing-time</key>
        <value>
            <name>max-listing-time</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Input Directory</key>
        <value>/opt/nifi/nifi-current/source-files</value>
    </entry>
    <entry>
        <key>listing-strategy</key>
        <value>none</value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>true</value>
    </entry>
    <entry>
        <key>record-writer</key>
    </entry>
    <entry>
        <key>Input Directory Location</key>
        <value>Local</value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>[^\.].*</value>
    </entry>
    <entry>
        <key>Path Filter</key>
    </entry>
    <entry>
        <key>Include File Attributes</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Minimum File Age</key>
        <value>0 sec</value>
    </entry>
    <entry>
        <key>Maximum File Age</key>
    </entry>
    <entry>
        <key>Minimum File Size</key>
        <value>0 B</value>
    </entry>
    <entry>
        <key>Maximum File Size</key>
    </entry>
    <entry>
        <key>Ignore Hidden Files</key>
        <value>true</value>
    </entry>
    <entry>
        <key>target-system-timestamp-precision</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>et-state-cache</key>
    </entry>
    <entry>
        <key>et-time-window</key>
        <value>3 hours</value>
    </entry>
    <entry>
        <key>et-initial-listing-target</key>
        <value>all</value>
    </entry>
    <entry>
        <key>et-node-identifier</key>
        <value>${hostname()}</value>
    </entry>
    <entry>
        <key>track-performance</key>
        <value>false</value>
    </entry>
    <entry>
        <key>max-performance-metrics</key>
        <value>100000</value>
    </entry>
    <entry>
        <key>max-operation-time</key>
        <value>10 secs</value>
    </entry>
    <entry>
        <key>max-listing-time</key>
        <value>3 mins</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ListFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ListFile</type>
                        </processors>
                        <processors>
                            <id>be4c1604-d90f-3c7f-0000-000000000000</id>
                            <parentGroupId>bfca4a6d-2847-3d49-0000-000000000000</parentGroupId>
                            <position>
<x>472.0</x>
<y>200.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File to Fetch</key>
        <value>
            <name>File to Fetch</name>
        </value>
    </entry>
    <entry>
        <key>Completion Strategy</key>
        <value>
            <name>Completion Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Move Destination Directory</key>
        <value>
            <name>Move Destination Directory</name>
        </value>
    </entry>
    <entry>
        <key>Move Conflict Strategy</key>
        <value>
            <name>Move Conflict Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Log level when file not found</key>
        <value>
            <name>Log level when file not found</name>
        </value>
    </entry>
    <entry>
        <key>Log level when permission denied</key>
        <value>
            <name>Log level when permission denied</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File to Fetch</key>
        <value>${absolute.path}/${filename}</value>
    </entry>
    <entry>
        <key>Completion Strategy</key>
        <value>None</value>
    </entry>
    <entry>
        <key>Move Destination Directory</key>
    </entry>
    <entry>
        <key>Move Conflict Strategy</key>
        <value>Rename</value>
    </entry>
    <entry>
        <key>Log level when file not found</key>
        <value>ERROR</value>
    </entry>
    <entry>
        <key>Log level when permission denied</key>
        <value>ERROR</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>FetchFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>not.found</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>permission.denied</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.FetchFile</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>LandingZoneIngestion</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>db5c71f3-e1c4-3491-0000-000000000000</id>
                    <parentGroupId>8641910b-861b-3835-0000-000000000000</parentGroupId>
                    <position>
                        <x>536.0</x>
                        <y>536.0</y>
                    </position>
                    <comments></comments>
                    <contents/>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>EnrichementZoneIngestion</name>
                    <variables/>
                </processGroups>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>FileIngestionFramework</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>03/22/2022 14:46:33 UTC</timestamp>
</template>
